In [1]:
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
from dotmap import DotMap
from pathlib import Path
from collections.abc import Mapping, Iterable

from IPython.display import display

%matplotlib notebook
%load_ext autoreload
%autoreload 2

In [2]:
#with open("dfs_stock.pkl", 'rb') as f:
#    dfs_stock = pickle.load(f)
#with open("dfs_emissions.pkl", 'rb') as f:
#    dfs_emissions = pickle.load(f)
#with open("dfs_env_em_intensity.pkl", 'rb') as f:
#    dfs_env_em_intensity = pickle.load(f)
with open("dfs_prod_animals.pkl", 'rb') as f:
    dfs_prod_animals = pickle.load(f)
with open("trade_matrix.pkl", 'rb') as f:
    trade_matrix = pickle.load(f)
with open("trade_matrix_live_animals.pkl", 'rb') as f:
    trade_matrix_live_animals = pickle.load(f)

In [6]:
def keep_non_redundant_info_live_animals(trade_matrix_live_animals,priority_reporter,unit):
    ## 1000 Head -> Head
    unit_filter = trade_matrix_live_animals["Unit Importer Report"] == "1000 Head"
    trade_matrix_live_animals.loc[unit_filter, "Quantity Importer Report"] = (trade_matrix_live_animals[unit_filter]
                                                                              ["Quantity Importer Report"].multiply(1000))
    trade_matrix_live_animals.loc[unit_filter, "Unit Importer Report"] = "Head"

    unit_filter = trade_matrix_live_animals["Unit Exporter Report"] == "1000 Head"
    trade_matrix_live_animals.loc[unit_filter, "Quantity Exporter Report"] = (trade_matrix_live_animals[unit_filter]
                                                                              ["Quantity Exporter Report"].multiply(1000))
    trade_matrix_live_animals.loc[unit_filter, "Unit Exporter Report"] = "Head"
    ##
    
    trade_matrix_live_animals_copy = trade_matrix_live_animals.set_index(["Year","Item","Importer","Exporter"])
    #trade_matrix_live_animals_copy.sort_index(inplace=True) #TODO ???

    # df_*reporter*_*unit* contain data from trade_matrix_live_animals that come from *reporter* and with given *unit*
    df_importer_tonnes = select_on(trade_matrix_live_animals_copy,
                                   column_filter_dict={"Unit Importer Report":["tonnes"]}
                                  )[["Unit Importer Report","Quantity Importer Report"]]
    df_importer_tonnes = df_importer_tonnes[~df_importer_tonnes.index.duplicated()]
    df_importer_tonnes.columns = ["Unit","Quantity"]

    df_importer_head = select_on(trade_matrix_live_animals_copy,
                                 column_filter_dict={"Unit Importer Report":["Head"]}
                                )[["Unit Importer Report","Quantity Importer Report"]]
    df_importer_head = df_importer_head[~df_importer_head.index.duplicated()]
    df_importer_head.columns = ["Unit","Quantity"]

    df_exporter_tonnes = select_on(trade_matrix_live_animals_copy,
                                   column_filter_dict={"Unit Exporter Report":["tonnes"]}
                                  )[["Unit Exporter Report","Quantity Exporter Report"]]
    df_exporter_tonnes = df_exporter_tonnes[~df_exporter_tonnes.index.duplicated()]
    df_exporter_tonnes.columns = ["Unit","Quantity"]

    df_exporter_head = select_on(trade_matrix_live_animals_copy,
                                 column_filter_dict={"Unit Exporter Report":["Head"]}
                                )[["Unit Exporter Report","Quantity Exporter Report"]]
    df_exporter_head = df_exporter_head[~df_exporter_head.index.duplicated()]
    df_exporter_head.columns = ["Unit","Quantity"]

    
    # combine all available data removing redundancy, giving priority to priority_reporter and then to unit
    if priority_reporter == "importer":
        if unit == "tonnes":
            res = (df_importer_tonnes
                   .combine_first(df_importer_head)
                   .combine_first(df_exporter_tonnes)
                   .combine_first(df_exporter_head))
        else:
            res = (df_importer_head
                   .combine_first(df_importer_tonnes)
                   .combine_first(df_exporter_head)
                   .combine_first(df_exporter_tonnes))
    else :
        if unit == "tonnes":
            res = (df_exporter_tonnes
                   .combine_first(df_exporter_head)
                   .combine_first(df_importer_tonnes)
                   .combine_first(df_importer_head))
        else:
            res = (df_exporter_head
                   .combine_first(df_exporter_tonnes)
                   .combine_first(df_importer_head)
                   .combine_first(df_importer_tonnes))
    
    res.reset_index(inplace=True)
    
    #TODO conversion Head or tonnes -> unit
    animal_mass_by_country = pd.read_csv("data/definitions_and_standards/TAM_Country.csv", 
                                         encoding="Latin1", 
                                         usecols=["AreaName","Livestock_Type","ParamValue","Units"])
    animal_mass_by_country = select_on(animal_mass_by_country,
                                       column_filter_dict={"Livestock_Type":["Cattle, non-dairy",
                                                                             "Swine, market",
                                                                             "Chicken, broilers"]})
    animal_mass_by_country["Livestock_Type"] = (animal_mass_by_country["Livestock_Type"]
                                                .replace({"Cattle, non-dairy":"Cattle",
                                                          "Swine, market":"Pigs",
                                                          "Chicken, broilers":"Chickens"}))
    animal_mass_by_country.columns = ["Exporter","Item","Animal Mass","Unit Animal Mass"]
    res = res.merge(animal_mass_by_country,how="left")
    res = res.set_index("Item")
    res["Animal Mass"].fillna((animal_mass_by_country[animal_mass_by_country["Exporter"].isna()]
                     .drop_duplicates()
                     .set_index("Item")["Animal Mass"]), inplace=True)
    res["Unit Animal Mass"].fillna((animal_mass_by_country[animal_mass_by_country["Exporter"].isna()]
                     .drop_duplicates()
                     .set_index("Item")["Unit Animal Mass"]), inplace=True)
    res = res.reset_index()
     
    res["Quantity (tonnes)"] = res.apply(lambda r: r["Quantity"] if r["Unit"]== "tonnes" 
                                      else r["Quantity"]*r["Animal Mass"]/1000, axis=1)
    res["Quantity (head)"] = res.apply(lambda r: r["Quantity"] if r["Unit"]== "Head" 
                                      else r["Quantity"]*1000/r["Animal Mass"], axis=1)
    return res[["Item","Year","Importer","Exporter","Quantity (tonnes)","Quantity (head)"]]

keep_non_redundant_info_live_animals(trade_matrix_live_animals,"importer","tonnes")

,Item,Year,Importer,Exporter,Quantity (tonnes),Quantity (head)
0,Cattle,Y1986,Algeria,Austria,373.800,8.900000e+02
1,Cattle,Y1986,Algeria,Bulgaria,78.200,2.000000e+02
2,Cattle,Y1986,Algeria,Denmark,168.000,4.000000e+02
3,Cattle,Y1986,Algeria,France,1110.480,2.644000e+03
4,Cattle,Y1986,Algeria,Netherlands,112.140,2.670000e+02
5,Cattle,Y1986,Andorra,France,2569.560,6.118000e+03
6,Cattle,Y1986,Andorra,Spain,1239.420,2.951000e+03
7,Cattle,Y1986,Argentina,Brazil,0.305,1.000000e+00
8,Cattle,Y1986,Argentina,Canada,11.281,2.900000e+01
9,Cattle,Y1986,Argentina,Paraguay,1.830,6.000000e+00
10,Cattle,Y1986,Argentina,United States of America,12.059,3.100000e+01
11,Cattle,Y1986,Argentina,Uruguay,7.320,2.400000e+01
12,Cattle,Y1986,Australia,Belgium-Luxembourg,52.500,1.250000e+02
13,Cattle,Y1986,Australia,Japan,0.319,1.000000e+00
14,Cattle,Y1986,Australia,Netherlands,37.800,9.000000e+01
15,Cattle,Y1986,Australia,New Zealand,42.900,1.300000e+02
16,Cattle,Y1986,Australia,United Kingdom,5.880,1.400000e+01
17,Cattle,Y1986,Australia,United States of America,33.065,8.500000e+01
18,Cattle,Y1986,Austria,Czechoslovakia,31.280,8.000000e+01
19,Cattle,Y1986,Austria,Hungary,19.550,5.000000e+01
20,Cattle,Y1986,Austria,Poland,3987.027,1.019700e+04
21,Cattle,Y1986,Austria,United Kingdom,5.880,1.400000e+01
22,Cattle,Y1986,Bahrain,Australia,1069.200,3.240000e+03
23,Cattle,Y1986,Bahrain,Kenya,906.520,5.240000e+03
24,Cattle,Y1986,Bahrain,Netherlands,7.560,1.800000e+01
25,Cattle,Y1986,Barbados,United States of America,12.059,3.100000e+01
26,Cattle,Y1986,Belgium-Luxembourg,Australia,7.260,2.200000e+01
27,Cattle,Y1986,Belgium-Luxembourg,Austria,21.840,5.200000e+01
28,Cattle,Y1986,Belgium-Luxembourg,Canada,21.006,5.400000e+01
29,Cattle,Y1986,Belgium-Luxembourg,France,10775.940,2.565700e+04
...,...,...,...,...,...,...
64222,Pigs,Y2017,United Kingdom,Denmark,3.000,6.000000e+01
64223,Pigs,Y2017,United Kingdom,France,59.000,1.180000e+03
64224,Pigs,Y2017,United Kingdom,Ireland,40606.000,8.121200e+05
64225,Pigs,Y2017,United Kingdom,Luxembourg,505.000,1.010000e+04
64226,Pigs,Y2017,United Kingdom,Netherlands,313.000,6.260000e+03
64227,Pigs,Y2017,United Kingdom,Spain,2.000,4.000000e+01
64228,Pigs,Y2017,United Kingdom,United States of America,0.000,0.000000e+00
64229,Pigs,Y2017,United Republic of Tanzania,Kenya,11.000,3.928571e+02
64230,Pigs,Y2017,United Republic of Tanzania,Lebanon,0.000,0.000000e+00
64231,Pigs,Y2017,United Republic of Tanzania,South Africa,1.000,3.571429e+01
64232,Pigs,Y2017,United Republic of Tanzania,Zambia,5.000,1.785714e+02
64233,Pigs,Y2017,United States of America,Canada,188282.000,4.093087e+06
64234,Pigs,Y2017,United States of America,Costa Rica,0.000,0.000000e+00
64235,Pigs,Y2017,United States of America,France,3.000,6.000000e+01
64236,Pigs,Y2017,United States of America,Germany,0.000,0.000000e+00
64237,Pigs,Y2017,United States of America,Guyana,0.000,0.000000e+00
64238,Pigs,Y2017,United States of America,Mexico,0.000,0.000000e+00
64239,Pigs,Y2017,United States of America,United Kingdom,0.000,0.000000e+00
64240,Pigs,Y2017,Unspecified Area,Luxembourg,84.000,1.680000e+03
64241,Pigs,Y2017,Unspecified Area,South Africa,0.000,0.000000e+00
64242,Pigs,Y2017,Uruguay,Argentina,3.000,1.071429e+02
64243,Pigs,Y2017,Venezuela (Bolivarian Republic of),Chile,0.000,0.000000e+00
64244,Pigs,Y2017,Viet Nam,"China, Taiwan Province of",7.000,2.500000e+02
64245,Pigs,Y2017,Viet Nam,Denmark,3.000,6.000000e+01
64246,Pigs,Y2017,Viet Nam,France,19.000,3.800000e+02
64247,Pigs,Y2017,Viet Nam,Netherlands,26.000,5.200000e+02
64248,Pigs,Y2017,Viet Nam,Thailand,0.000,0.000000e+00
64249,Pigs,Y2017,Viet Nam,United States of America,0.000,0.000000e+00
64250,Pigs,Y2017,Zambia,South Africa,1.000,3.571429e+01
64251,Pigs,Y2017,Zimbabwe,South Africa,53.000,1.892857e+03

In [77]:
df_index = trade_matrix_live_animals.set_index(["Year","Item","Importer","Exporter"])
df_index["Unit"] = np.nan
df_index["Value"] = np.nan
df_index = df_index[["Unit", "Value"]].drop_duplicates()
df_index

                                Unit  Value
Year  Item   Importer Exporter
Y1986 Cattle Algeria  Austria    NaN    NaN

In [65]:
index

           Year      Item        Importer                  Exporter
13        Y1986    Cattle         Algeria                   Austria
14        Y1986  Chickens         Algeria                   Austria
21        Y1986  Chickens         Algeria        Belgium-Luxembourg
49        Y1986    Cattle         Algeria                  Bulgaria
79        Y1986    Cattle         Algeria                   Denmark
80        Y1986  Chickens         Algeria                   Denmark
91        Y1986    Cattle         Algeria                    France
93        Y1986  Chickens         Algeria                    France
136       Y1986  Chickens         Algeria                   Hungary
178       Y1986    Cattle         Algeria               Netherlands
179       Y1986  Chickens         Algeria               Netherlands
222       Y1986  Chickens         Algeria                     Spain
261       Y1986  Chickens         Algeria                   Tunisia
303       Y1986  Chickens         Algeria  United States of America
326       Y1986  Chickens         Algeria              Yugoslav SFR
353       Y1986    Cattle       Argentina                    Brazil
354       Y1986  Chickens       Argentina                    Brazil
397       Y1986    Cattle       Argentina                    Canada
477       Y1986      Pigs       Argentina                    France
546       Y1986      Pigs       Argentina               Netherlands
563       Y1986    Cattle       Argentina                  Paraguay
651       Y1986    Cattle       Argentina  United States of America
682       Y1986      Pigs       Argentina  United States of America
699       Y1986    Cattle       Argentina                   Uruguay
876       Y1986      Pigs       Australia                    Canada
1553      Y1986    Cattle       Australia                     Japan
1792      Y1986    Cattle       Australia               New Zealand
2379      Y1986    Cattle       Australia            United Kingdom
2429      Y1986      Pigs       Australia            United Kingdom
2461      Y1986    Cattle       Australia  United States of America
...         ...       ...             ...                       ...
12788282  Y2017  Chickens     Netherlands  United States of America
12788355  Y2017    Cattle       Nicaragua  United States of America
12788382  Y2017      Pigs          Norway  United States of America
12788387  Y2017    Cattle            Oman  United States of America
12788499  Y2017      Pigs        Paraguay  United States of America
12788540  Y2017      Pigs            Peru  United States of America
12788559  Y2017    Cattle     Philippines  United States of America
12788562  Y2017  Chickens     Philippines  United States of America
12788588  Y2017      Pigs     Philippines  United States of America
12788855  Y2017    Cattle       Singapore  United States of America
12788857  Y2017  Chickens       Singapore  United States of America
12788877  Y2017      Pigs       Singapore  United States of America
12788904  Y2017    Cattle    South Africa  United States of America
12788957  Y2017      Pigs           Spain  United States of America
12788988  Y2017    Cattle           Sudan  United States of America
12789045  Y2017      Pigs          Sweden  United States of America
12789051  Y2017    Cattle     Switzerland  United States of America
12789068  Y2017      Pigs     Switzerland  United States of America
12789162  Y2017      Pigs          Turkey  United States of America
12789315  Y2017    Cattle  United Kingdom  United States of America
12789433  Y2017    Cattle        Viet Nam  United States of America
12789442  Y2017  Chickens        Viet Nam  United States of America
12789550  Y2017      Pigs        Viet Nam  United States of America
12789685  Y2017    Cattle           Egypt                   Uruguay
12789709  Y2017    Cattle            Iraq                   Uruguay
12789913  Y2017  Chickens          Angola                    Zambia
12790004  Y2017  Chickens      Mozambique                    Zambia
12790153  Y2017    Cattle      Mozambique                  Zimbabwe
12790158  Y2017  Chickens      Mozambique                  Zimbabwe
12790207  Y2017    Cattle    South Africa                  Zimbabwe

[64252 rows x 4 columns]

In [56]:
trade_matrix_live_animals.groupby(by=["Importer","Exporter","Item","Year"]).count()["Unit Importer Report"].unique()

array([0, 4, 1, 2], dtype=int64)

In [57]:
trade_matrix_live_animals.groupby(by=["Importer","Exporter","Item","Year"]).count()["Unit Exporter Report"].unique()

array([1, 4, 0, 2], dtype=int64)

In [59]:
trade_matrix_live_animals.set_index(by=["Year","Item","Importer","Exporter"]).count()

                                                                           Importer Code  \
Year  Item   Importer                           Exporter
Y1986 Cattle Algeria                            Austria                                1
                                                Bulgaria                               1
                                                Denmark                                1
                                                France                                 1
                                                Netherlands                            1
             Andorra                            France                                 1
                                                Spain                                  1
             Argentina                          Brazil                                 1
                                                Canada                                 1
                                                Paraguay                               1
                                                United States of America               1
                                                Uruguay                                1
             Australia                          Belgium-Luxembourg                     1
                                                Japan                                  1
                                                Netherlands                            1
                                                New Zealand                            1
                                                United Kingdom                         1
                                                United States of America               1
             Austria                            Czechoslovakia                         1
                                                Hungary                                1
                                                Poland                                 1
                                                United Kingdom                         1
             Bahrain                            Australia                              1
                                                Kenya                                  1
                                                Netherlands                            1
             Barbados                           United States of America               1
             Belgium-Luxembourg                 Australia                              1
                                                Austria                                1
                                                Canada                                 1
                                                France                                 1
...                                                                                  ...
Y2017 Pigs   United Kingdom                     Denmark                                4
                                                France                                 2
                                                Ireland                                4
                                                Luxembourg                             2
                                                Netherlands                            2
                                                Spain                                  2
                                                United States of America               4
             United Republic of Tanzania        Kenya                                  4
                                                Lebanon                                2
                                                South Africa                           4
                                                Zambia                                 2
             United States of America           Canada                                 4
                                                Costa Rica                             2
                                                France                                 4
                                                Germany                                2
                                                Guyana                                 2
                                                Mexico                                 2
                                                United Kingdom                         2
             Unspecified Area                   Luxembourg                             2
                                                South Africa                           2
             Uruguay                            Argentina                              4
             Venezuela (Bolivarian Republic of) Chile                                  4
             Viet Nam                           China, Taiwan Province of              2
                                                Denmark                                2
                                                France                                 2
                                                Netherlands                            2
                                                Thailand                               2
                                                United States of America               2
             Zambia                             South Africa                           4
             Zimbabwe                           South Africa                           4

                                                                           Exporter Code  \
Year  Item   Importer                           Exporter
Y1986 Cattle Algeria                            Austria                                1
                                                Bulgaria                               1
                                                Denmark                                1
                                                France                                 1
                                                Netherlands                            1
             Andorra                            France                                 1
                                                Spain                                  1
             Argentina                          Brazil                                 1
                                                Canada                                 1
                                                Paraguay                               1
                                                United States of America               1
                                                Uruguay                                1
             Australia                          Belgium-Luxembourg                     1
                                                Japan                                  1
                                                Netherlands                            1
                                                New Zealand                            1
                                                United Kingdom                         1
                                                United States of America               1
             Austria                            Czechoslovakia                         1
                                                Hungary                                1
                                                Poland                                 1
                                                United Kingdom                         1
             Bahrain                            Australia                              1
                                                Kenya                                  1
                                                Netherlands                            1
             Barbados                           United States of America               1
             Belgium-Luxembourg                 Australia                              1
                                                Austria                                1
                                                Canada                                 1
                                                France                                 1
...                                                                                  ...
Y2017 Pigs   United Kingdom                     Denmark                                4
                                                France                                 2
                                                Ireland                                4
                                                Luxembourg                             2
                                                Netherlands                            2
                                                Spain                                  2
                                                United States of America               4
             United Republic of Tanzania        Kenya                                  4
                                                Lebanon                                2
                                                South Africa                           4
                                                Zambia                                 2
             United States of America           Canada                                 4
                                                Costa Rica                             2
                                                France                                 4
                                                Germany                                2
                                                Guyana                                 2
                                                Mexico                                 2
                                                United Kingdom                         2
             Unspecified Area                   Luxembourg                             2
                                                South Africa                           2
             Uruguay                            Argentina                              4
             Venezuela (Bolivarian Republic of) Chile                                  4
             Viet Nam                           China, Taiwan Province of              2
                                                Denmark                                2
                                                France                                 2
                                                Netherlands                            2
                                                Thailand                               2
                                                United States of America               2
             Zambia                             South Africa                           4
             Zimbabwe                           South Africa                           4

                                                                           Item Code  \
Year  Item   Importer                           Exporter
Y1986 Cattle Algeria                            Austria                            1
                                                Bulgaria                           1
                                                Denmark                            1
                                                France                             1
                                                Netherlands                        1
             Andorra                            France                             1
                                                Spain                              1
             Argentina                          Brazil                             1
                                                Canada                             1
                                                Paraguay                           1
                                                United States of America           1
                                                Uruguay                            1
             Australia                          Belgium-Luxembourg                 1
                                                Japan                              1
                                                Netherlands                        1
                                                New Zealand                        1
                                                United Kingdom                     1
                                                United States of America           1
             Austria                            Czechoslovakia                     1
                                                Hungary                            1
                                                Poland                             1
                                                United Kingdom                     1
             Bahrain                            Australia                          1
                                                Kenya                              1
                                                Netherlands                        1
             Barbados                           United States of America           1
             Belgium-Luxembourg                 Australia                          1
                                                Austria                            1
                                                Canada                             1
                                                France                             1
...                                                                              ...
Y2017 Pigs   United Kingdom                     Denmark                            4
                                                France                             2
                                                Ireland                            4
                                                Luxembourg                         2
                                                Netherlands                        2
                                                Spain                              2
                                                United States of America           4
             United Republic of Tanzania        Kenya                              4
                                                Lebanon                            2
                                                South Africa                       4
                                                Zambia                             2
             United States of America           Canada                             4
                                                Costa Rica                         2
                                                France                             4
                                                Germany                            2
                                                Guyana                             2
                                                Mexico                             2
                                                United Kingdom                     2
             Unspecified Area                   Luxembourg                         2
                                                South Africa                       2
             Uruguay                            Argentina                          4
             Venezuela (Bolivarian Republic of) Chile                              4
             Viet Nam                           China, Taiwan Province of          2
                                                Denmark                            2
                                                France                             2
                                                Netherlands                        2
                                                Thailand                           2
                                                United States of America           2
             Zambia                             South Africa                       4
             Zimbabwe                           South Africa                       4

                                                                           Unit Importer Report  \
Year  Item   Importer                           Exporter
Y1986 Cattle Algeria                            Austria                                       1
                                                Bulgaria                                      1
                                                Denmark                                       1
                                                France                                        1
                                                Netherlands                                   1
             Andorra                            France                                        0
                                                Spain                                         0
             Argentina                          Brazil                                        1
                                                Canada                                        1
                                                Paraguay                                      1
                                                United States of America                      1
                                                Uruguay                                       1
             Australia                          Belgium-Luxembourg                            0
                                                Japan                                         1
                                                Netherlands                                   0
                                                New Zealand                                   1
                                                United Kingdom                                1
                                                United States of America                      1
             Austria                            Czechoslovakia                                1
                                                Hungary                                       1
                                                Poland                                        1
                                                United Kingdom                                1
             Bahrain                            Australia                                     0
                                                Kenya                                         0
                                                Netherlands                                   0
             Barbados                           United States of America                      0
             Belgium-Luxembourg                 Australia                                     1
                                                Austria                                       1
                                                Canada                                        1
                                                France                                        1
...                                                                                         ...
Y2017 Pigs   United Kingdom                     Denmark                                       4
                                                France                                        0
                                                Ireland                                       4

In [5]:
def keep_non_redundant_info(trade_matrix,priority_reporter):
    """
        Replace columns ["Unit Importer Report","Quantity Importer Report","Unit Exporter Report","Quantity Exporter Report"]
        by columns ["Unit","Quantity"] removing redundance giving priority to info from priority_reporter (in {"importer","exporter"})
    """
    if priority_reporter == "importer":
        trade_matrix[["Unit","Quantity"]] = trade_matrix[["Unit Importer Report","Quantity Importer Report"]]
        trade_matrix["Unit"].fillna(trade_matrix["Unit Exporter Report"],inplace=True)
        trade_matrix["Quantity"].fillna(trade_matrix["Quantity Exporter Report"],inplace=True)
    else:
        trade_matrix[["Unit","Quantity"]] = trade_matrix[["Unit Exporter Report","Quantity Exporter Report"]]
        trade_matrix["Unit"].fillna(trade_matrix["Unit Importer Report"],inplace=True)
        trade_matrix["Quantity"].fillna(trade_matrix["Quantity Importer Report"],inplace=True)
    trade_matrix.drop(columns=["Unit Importer Report","Quantity Importer Report","Unit Exporter Report","Quantity Exporter Report"],inplace=True)

#### Import Export Products

In [6]:
keep_non_redundant_info(trade_matrix,"importer")

In [7]:
trade_matrix["Year"] = trade_matrix["Year"].apply(lambda str : str[1:])

trade_matrix["Equivalent Quantity (tonnes)"] = trade_matrix["Factor"] * trade_matrix["Quantity"]

item_corresp = {'Milk Equivalent':'Milk, whole fresh cow', 
                'Eggs, equivalent':'Eggs, hen, in shell', 
                'Bovine Meat':'Meat, cattle', 
                'Pigmeat':'Meat, pig', 
                'Chicken Meat':'Meat, chicken'}

trade_matrix.replace(to_replace=item_corresp, inplace=True)
detail_import = trade_matrix.groupby(by=["Item Group","Importer","Year","Exporter"]).sum()[["Equivalent Quantity (tonnes)"]].reset_index()
total_export = detail_import.groupby(by=["Item Group","Year","Exporter"]).sum().reset_index()

#### Production Meat

In [10]:
trade_matrix_live_animals["Unit Importer Report"].unique()

trade_matrix_live_animals["Unit Exporter Report"].unique()

array(['Head', '1000 Head', nan, 'tonnes'], dtype=object)

In [13]:
trade_matrix_live_animals.sort_values(by=["Importer","Year","Exporter","Item"])

,Importer Code,Importer,Exporter Code,Exporter,Item Code,Item,Year,Unit Importer Report,Quantity Importer Report,Unit Exporter Report,Quantity Exporter Report
8935640,2,Afghanistan,100,India,1057,Chickens,Y1986,NaN,NaN,1000 Head,66.0
8997275,2,Afghanistan,100,India,1057,Chickens,Y1987,NaN,NaN,1000 Head,26.0
9060934,2,Afghanistan,100,India,1057,Chickens,Y1988,NaN,NaN,1000 Head,20.0
9197971,2,Afghanistan,100,India,1057,Chickens,Y1990,NaN,NaN,1000 Head,8.0
9271851,2,Afghanistan,100,India,1057,Chickens,Y1991,NaN,NaN,1000 Head,33.0
9548224,2,Afghanistan,150,Netherlands,1034,Pigs,Y1994,NaN,NaN,Head,162.0
10256615,2,Afghanistan,165,Pakistan,866,Cattle,Y2000,NaN,NaN,Head,2598.0
10384478,2,Afghanistan,165,Pakistan,866,Cattle,Y2001,NaN,NaN,Head,3601.0
10384481,2,Afghanistan,165,Pakistan,1057,Chickens,Y2001,NaN,NaN,1000 Head,1.0
10480064,2,Afghanistan,102,Iran (Islamic Republic of),1057,Chickens,Y2002,NaN,NaN,1000 Head,1.0
10507937,2,Afghanistan,165,Pakistan,866,Cattle,Y2002,NaN,NaN,Head,849.0
10507941,2,Afghanistan,165,Pakistan,1057,Chickens,Y2002,NaN,NaN,1000 Head,271.0
10611311,2,Afghanistan,102,Iran (Islamic Republic of),866,Cattle,Y2003,NaN,NaN,Head,170.0
10611319,2,Afghanistan,102,Iran (Islamic Republic of),1057,Chickens,Y2003,NaN,NaN,1000 Head,355.0
10620197,2,Afghanistan,113,Kyrgyzstan,866,Cattle,Y2003,NaN,NaN,Head,8.0
10642093,2,Afghanistan,165,Pakistan,866,Cattle,Y2003,NaN,NaN,Head,25198.0
10642097,2,Afghanistan,165,Pakistan,1057,Chickens,Y2003,NaN,NaN,1000 Head,2080.0
10747102,2,Afghanistan,102,Iran (Islamic Republic of),866,Cattle,Y2004,NaN,NaN,Head,221.0
10747107,2,Afghanistan,102,Iran (Islamic Republic of),1057,Chickens,Y2004,NaN,NaN,1000 Head,75.0
10756727,2,Afghanistan,113,Kyrgyzstan,866,Cattle,Y2004,NaN,NaN,Head,60.0
10778503,2,Afghanistan,165,Pakistan,866,Cattle,Y2004,NaN,NaN,Head,2570.0
10778507,2,Afghanistan,165,Pakistan,1057,Chickens,Y2004,NaN,NaN,1000 Head,2502.0
10885892,2,Afghanistan,102,Iran (Islamic Republic of),866,Cattle,Y2005,NaN,NaN,Head,84.0
10885899,2,Afghanistan,102,Iran (Islamic Republic of),1057,Chickens,Y2005,NaN,NaN,1000 Head,950.0
10887105,2,Afghanistan,104,Ireland,866,Cattle,Y2005,NaN,NaN,Head,0.0
10893729,2,Afghanistan,108,Kazakhstan,866,Cattle,Y2005,NaN,NaN,Head,42.0
10905895,2,Afghanistan,150,Netherlands,1057,Chickens,Y2005,NaN,NaN,1000 Head,1.0
10916972,2,Afghanistan,165,Pakistan,1057,Chickens,Y2005,NaN,NaN,1000 Head,1460.0
11008988,2,Afghanistan,68,France,866,Cattle,Y2006,NaN,NaN,Head,1.0
11058393,2,Afghanistan,165,Pakistan,866,Cattle,Y2006,NaN,NaN,Head,219.0
...,...,...,...,...,...,...,...,...,...,...,...
8910140,181,Zimbabwe,147,Namibia,866,Cattle,Y2017,tonnes,60.0,tonnes,63.0
8910141,181,Zimbabwe,147,Namibia,866,Cattle,Y2017,tonnes,60.0,Head,210.0
8910142,181,Zimbabwe,147,Namibia,866,Cattle,Y2017,Head,133.0,tonnes,63.0
8910143,181,Zimbabwe,147,Namibia,866,Cattle,Y2017,Head,133.0,Head,210.0
8910156,181,Zimbabwe,150,Netherlands,1057,Chickens,Y2017,1000 Head,102.0,1000 Head,164.0
8910157,181,Zimbabwe,150,Netherlands,1057,Chickens,Y2017,1000 Head,102.0,tonnes,7.0
8910158,181,Zimbabwe,150,Netherlands,1057,Chickens,Y2017,tonnes,4.0,1000 Head,164.0
8910159,181,Zimbabwe,150,Netherlands,1057,Chickens,Y2017,tonnes,4.0,tonnes,7.0
8910236,181,Zimbabwe,202,South Africa,866,Cattle,Y2017,tonnes,173.0,tonnes,0.0
8910237,181,Zimbabwe,202,South Africa,866,Cattle,Y2017,tonnes,173.0,Head,3827.0
8910238,181,Zimbabwe,202,South Africa,866,Cattle,Y2017,Head,385.0,tonnes,0.0
8910239,181,Zimbabwe,202,South Africa,866,Cattle,Y2017,Head,385.0,Head,3827.0
12762571,181,Zimbabwe,202,South Africa,1057,Chickens,Y2017,NaN,NaN,1000 Head,0.0
12762572,181,Zimbabwe,202,South Africa,1057,Chickens,Y2017,NaN,NaN,tonnes,0.0
8910380,181,Zimbabwe,202,South Africa,1034,Pigs,Y2017,tonnes,53.0,tonnes,0.0
8910381,181,Zimbabwe,202,South Africa,1034,Pigs,Y2017,tonnes,53.0,Head,1506.0
8910382,181,Zimbabwe,202,South Africa,1034,Pigs,Y2017,Head,1450.0,tonnes,0.0
8910383,181,Zimbabwe,202,South Africa,1034,Pigs,Y2017,Head,1450.0,Head,1506.0
8910448,181,Zimbabwe,203,Spain,1057,Chickens,Y2017,1000 Head,23.0,1000 Head,23.0
8910449,181,Zimbabwe,203,Spain,1057,Chickens,Y2017,1000 Head,23.0,tonnes,1.0
8910450,181,Zimbabwe,203,Spain,1057,Chickens,Y2017,tonnes,1.0,1000 Head,23.0
8910451,181,Zimbabwe,203,Spain,1057,Chickens,Y2017,tonnes,1.0,tonnes,1.0
8910504,181,Zimbabwe,229,United Kingdom,1057,Chickens,Y2017,1000 Head,27.0,1000 Head,30.0
8910505,181,Zimbabwe,229,United Kingdom,1057,Chickens,Y2017,1000 Head,27.0,tonnes,2.0
8910506,181,Zimbabwe,229,United Kingdom,1057,Chickens,Y2017,tonnes,2.0,1000 Head,30.0
8910507,181,Zimbabwe,229,United Kingdom,1057,Chickens,Y2017,tonnes,2.0,tonnes,2.0
8910594,181,Zimbabwe,251,Zambia,1057,Chickens,Y2017,1000 Head,200.0,1000 Head,431.0
8910595,181,Zimbabwe,251,Zambia,1057,Chickens,Y2017,1000 Head,200.0,tonnes,19.0
8910596,181,Zimbabwe,251,Zambia,1057,Chickens,Y2017,tonnes,13.0,1000 Head,431.0
8910597,181,Zimbabwe,251,Zambia,1057,Chickens,Y2017,tonnes,13.0,tonnes,19.0

In [371]:
df_meat_prod = select_on(dfs_prod_animals["production"],
                  column_filter_dict={"Item" : ['Meat, cattle',
                                                'Meat, chicken',  
                                                'Meat, pig'],
                                      "Unit":["tonnes"]})

df_meat_prod = df_meat_prod[["Item","Area","Year","Area","Value"]]
df_meat_prod.columns = ["Item","Consumer","Year","Producer","Quantity (tonnes)"]

df_meat_cons = select_on(detail_import,
                        column_filter_dict={"Item Group":['Meat, cattle',
                                                'Meat, chicken',  
                                                'Meat, pig']})
df_meat_cons.columns = ["Item","Consumer","Year","Producer","Quantity (tonnes)"]

df_meat_cons = pd.concat([df_meat_cons, df_meat_prod])
#df_meat_cons.sort_values(by=["Consumer","Item","Year","Quantity (tonnes)"])

In [372]:
df_yield_meat = select_on(dfs_prod_animals["yield/carcass_weight"],
                                 column_filter_dict={"Item":['Meat, cattle',
                                                             'Meat, chicken',
                                                             'Meat, pig']})
df_yield_meat = df_yield_meat[["Item","Year","Area","Value"]]
df_yield_meat.columns = ["Item","Year","Producer","Yield"]

In [373]:
total_export.columns = ["Item","Year","Consumer","Export Quantity (tonnes)"]
df_meat_cons = df_meat_cons.merge(total_export)

df_sum = df_meat_cons.groupby(by=["Item","Consumer","Year"]).sum()["Quantity (tonnes)"].reset_index()
df_sum.columns = ["Item","Consumer","Year","Total (all producers)"]


df_meat_cons = df_meat_cons.merge(df_sum)
df_meat_cons["Consumed Quantity (tonnes)"] = df_meat_cons["Quantity (tonnes)"] - df_meat_cons["Export Quantity (tonnes)"]*df_meat_cons["Quantity (tonnes)"]/df_meat_cons["Total (all producers)"]

In [374]:
df_meat_cons['Year']=df_meat_cons['Year'].astype(int)
df_yield_meat['Year']=df_yield_meat['Year'].astype(int)

df_meat_cons = df_meat_cons.merge(df_yield_meat)
df_meat_cons["Animal Number"] = 1000 * df_meat_cons["Consumed Quantity (tonnes)"] / df_meat_cons["Yield"]

In [ ]:
#TODO delete cell ?
df_meat_animal = select_on(dfs_prod_animals["production"],
                  column_filter_dict={"Item" : ['Meat indigenous, cattle',
                                                'Meat indigenous, chicken',  
                                                'Meat indigenous, pig'],
                                      "Unit":["Head"]})#.groupby(by=["Area","Item","Year"]).sum()

## Import Export Live Animals

#### Production Egg or Milk

In [ ]:
df_egg_milk_prod = select_on(dfs_prod_animals["production"],
                  column_filter_dict={"Item" : ['Eggs, hen, in shell', 'Milk, whole fresh cow'],
                                      "Unit":["tonnes"]})

df_egg_milk_prod = df_egg_milk_prod[["Item","Area","Year","Area","Value"]]
df_egg_milk_prod.columns = ["Item","Consumer","Year","Producer","Quantity (tonnes)"]

df_egg_milk_cons = select_on(detail_import,
                        column_filter_dict={"Item Group":['Eggs, hen, in shell',
                                                'Milk, whole fresh cow']})
df_egg_milk_cons.columns = ["Item","Consumer","Year","Producer","Quantity (tonnes)"]

df_egg_milk_cons = pd.concat([df_egg_milk_cons, df_egg_milk_prod])



df_yield_egg_milk = select_on(dfs_prod_animals["yield"],
                                 column_filter_dict={"Item":['Eggs, hen, in shell',
                                                             'Milk, whole fresh cow']})
df_yield_egg_milk = df_yield_egg_milk[["Item","Year","Area","Value"]]
df_yield_egg_milk.columns = ["Item","Year","Producer","Yield"]


total_export.columns = ["Item","Year","Consumer","Export Quantity (tonnes)"]
df_egg_milk_cons = df_egg_milk_cons.merge(total_export)

df_sum = df_egg_milk_cons.groupby(by=["Item","Consumer","Year"]).sum()["Quantity (tonnes)"].reset_index()
df_sum.columns = ["Item","Consumer","Year","Total (all producers)"]

df_egg_milk_cons = df_egg_milk_cons.merge(df_sum)
df_egg_milk_cons["Consumed Quantity (tonnes)"] = (df_egg_milk_cons["Quantity (tonnes)"] 
                                                  - df_egg_milk_cons["Export Quantity (tonnes)"]
                                                          *df_egg_milk_cons["Quantity (tonnes)"]/
                                                          df_egg_milk_cons["Total (all producers)"])



df_egg_milk_cons['Year']=df_egg_milk_cons['Year'].astype(int)
df_yield_egg_milk['Year']=df_yield_egg_milk['Year'].astype(int)

df_egg_milk_cons = df_egg_milk_cons.merge(df_yield_egg_milk)
df_egg_milk_cons["Animal Number"] = 1000 * df_egg_milk_cons["Consumed Quantity (tonnes)"] / df_egg_milk_cons["Yield"]
df_egg_milk_cons.sort_values(by=["Item","Consumer","Year","Animal Number"])

In [102]:
#TODO delete cell ?
df_laying_hen = select_on(dfs_prod_animals["laying"],column_filter_dict={"Item" : ['Eggs, hen, in shell']})#.groupby(by=["Area","Item","Year"]).sum()
df_dairy_cow = select_on(dfs_prod_animals["milk_animals"],column_filter_dict={"Item" : ['Milk, whole fresh cow']})#.groupby(by=["Area","Item","Year"]).sum()

## explorations

In [22]:
df_mass_animal = pd.read_csv("data/detailed_trade_matrix/TAM_Country.csv", encoding="latin1")
df_mass_animal["Livestock_Type"].unique()

array(['Cattle, dairy', 'Cattle, non-dairy', 'Buffalo', 'Swine, market',
       'Swine, breeding', 'Chicken, layers', 'Chicken, broilers', 'Ducks',
       'Turkeys', 'Sheep', 'Goats', 'Horses', 'Asses', 'Mules', 'Camels',
       'Llamas'], dtype=object)

In [152]:
print(dfs_prod_animals.keys())

odict_keys(['laying', 'production', 'producing_animals/slaughtered', 'milk_animals', 'prod_popultn', 'yield', 'yield/carcass_weight'])

In [128]:
print(dfs_prod_animals["laying"]["Item"].unique())
dfs_prod_animals["laying"].head()

['Eggs, hen, in shell' 'Eggs, other bird, in shell'
 'Eggs, hen, in shell (number)' 'Eggs Primary']

,Area Code,Area,Item Code,Item,Element Code,Year,Unit,Value,Flag
0,2,Afghanistan,1062,"Eggs, hen, in shell",5313,1961,Head,4000000.0,FAO estimate
1,2,Afghanistan,1062,"Eggs, hen, in shell",5313,1962,Head,4400000.0,FAO estimate
2,2,Afghanistan,1062,"Eggs, hen, in shell",5313,1963,Head,4600000.0,FAO estimate
3,2,Afghanistan,1062,"Eggs, hen, in shell",5313,1964,Head,4800000.0,FAO estimate
4,2,Afghanistan,1062,"Eggs, hen, in shell",5313,1965,Head,5200000.0,FAO estimate

In [5]:
trade_matrix_live_animals.head()

,Importer Code,Importer,Exporter Code,Exporter,Item Code,Item,Year,Unit Importer Report,Quantity Importer Report,Unit Exporter Report,Quantity Exporter Report
13,4,Algeria,11,Austria,866,Cattle,Y1986,Head,890.0,Head,2062.0
14,4,Algeria,11,Austria,1057,Chickens,Y1986,1000 Head,204.0,1000 Head,258.0
21,4,Algeria,15,Belgium-Luxembourg,1057,Chickens,Y1986,1000 Head,6207.0,1000 Head,6381.0
49,4,Algeria,27,Bulgaria,866,Cattle,Y1986,Head,200.0,Head,855.0
79,4,Algeria,54,Denmark,866,Cattle,Y1986,Head,400.0,Head,600.0

In [10]:
trade_matrix_live_animals["Unit Exporter Report"].unique()

array(['Head', '1000 Head', nan, 'tonnes'], dtype=object)

In [15]:
select_on(trade_matrix_live_animals, column_filter_dict={"Unit Importer Report":['Head', '1000 Head']})

,Importer Code,Importer,Exporter Code,Exporter,Item Code,Item,Year,Unit Importer Report,Quantity Importer Report,Unit Exporter Report,Quantity Exporter Report
13,4,Algeria,11,Austria,866,Cattle,Y1986,Head,890.0,Head,2062.0
14,4,Algeria,11,Austria,1057,Chickens,Y1986,1000 Head,204.0,1000 Head,258.0
21,4,Algeria,15,Belgium-Luxembourg,1057,Chickens,Y1986,1000 Head,6207.0,1000 Head,6381.0
49,4,Algeria,27,Bulgaria,866,Cattle,Y1986,Head,200.0,Head,855.0
79,4,Algeria,54,Denmark,866,Cattle,Y1986,Head,400.0,Head,600.0
80,4,Algeria,54,Denmark,1057,Chickens,Y1986,1000 Head,60.0,1000 Head,60.0
91,4,Algeria,68,France,866,Cattle,Y1986,Head,2644.0,Head,6899.0
93,4,Algeria,68,France,1057,Chickens,Y1986,1000 Head,1281.0,1000 Head,1168.0
136,4,Algeria,97,Hungary,1057,Chickens,Y1986,1000 Head,3190.0,1000 Head,2919.0
178,4,Algeria,150,Netherlands,866,Cattle,Y1986,Head,267.0,Head,911.0
179,4,Algeria,150,Netherlands,1057,Chickens,Y1986,1000 Head,360.0,1000 Head,364.0
222,4,Algeria,203,Spain,1057,Chickens,Y1986,1000 Head,2226.0,1000 Head,1775.0
261,4,Algeria,222,Tunisia,1057,Chickens,Y1986,1000 Head,1497.0,NaN,NaN
303,4,Algeria,231,United States of America,1057,Chickens,Y1986,1000 Head,6.0,NaN,NaN
326,4,Algeria,248,Yugoslav SFR,1057,Chickens,Y1986,1000 Head,2798.0,1000 Head,2999.0
353,9,Argentina,21,Brazil,866,Cattle,Y1986,Head,1.0,Head,2.0
354,9,Argentina,21,Brazil,1057,Chickens,Y1986,1000 Head,29.0,1000 Head,1.0
397,9,Argentina,33,Canada,866,Cattle,Y1986,Head,29.0,Head,25.0
477,9,Argentina,68,France,1034,Pigs,Y1986,Head,10.0,Head,10.0
546,9,Argentina,150,Netherlands,1034,Pigs,Y1986,Head,12.0,Head,12.0
563,9,Argentina,169,Paraguay,866,Cattle,Y1986,Head,6.0,Head,12.0
651,9,Argentina,231,United States of America,866,Cattle,Y1986,Head,31.0,Head,218.0
682,9,Argentina,231,United States of America,1034,Pigs,Y1986,Head,84.0,Head,162.0
699,9,Argentina,234,Uruguay,866,Cattle,Y1986,Head,24.0,Head,24.0
876,10,Australia,33,Canada,1034,Pigs,Y1986,Head,12.0,NaN,NaN
1553,10,Australia,110,Japan,866,Cattle,Y1986,Head,1.0,NaN,NaN
1792,10,Australia,156,New Zealand,866,Cattle,Y1986,Head,130.0,Head,125.0
2379,10,Australia,229,United Kingdom,866,Cattle,Y1986,Head,14.0,Head,15.0
2429,10,Australia,229,United Kingdom,1034,Pigs,Y1986,Head,15.0,Head,15.0
2461,10,Australia,231,United States of America,866,Cattle,Y1986,Head,85.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8908851,251,Zambia,150,Netherlands,1057,Chickens,Y2017,1000 Head,344.0,tonnes,38.0
8909097,251,Zambia,202,South Africa,866,Cattle,Y2017,Head,375.0,tonnes,0.0
8909098,251,Zambia,202,South Africa,866,Cattle,Y2017,Head,375.0,Head,425.0
8909108,251,Zambia,202,South Africa,1057,Chickens,Y2017,1000 Head,1.0,1000 Head,31.0
8909109,251,Zambia,202,South Africa,1057,Chickens,Y2017,1000 Head,1.0,tonnes,0.0
8909263,251,Zambia,202,South Africa,1034,Pigs,Y2017,Head,60.0,tonnes,0.0
8909264,251,Zambia,202,South Africa,1034,Pigs,Y2017,Head,60.0,Head,85.0
8909602,251,Zambia,229,United Kingdom,1057,Chickens,Y2017,1000 Head,168.0,1000 Head,136.0
8909603,251,Zambia,229,United Kingdom,1057,Chickens,Y2017,1000 Head,168.0,tonnes,7.0
8909829,181,Zimbabwe,20,Botswana,866,Cattle,Y2017,Head,26.0,tonnes,14.0
8909830,181,Zimbabwe,20,Botswana,866,Cattle,Y2017,Head,26.0,Head,67.0
8909916,181,Zimbabwe,250,Democratic Republic of the Congo,866,Cattle,Y2017,Head,3.0,tonnes,1.0
8909917,181,Zimbabwe,250,Democratic Republic of the Congo,866,Cattle,Y2017,Head,3.0,Head,3.0
8909944,181,Zimbabwe,68,France,1057,Chickens,Y2017,1000 Head,1.0,NaN,NaN
8910062,181,Zimbabwe,130,Malawi,1057,Chickens,Y2017,1000 Head,50.0,1000 Head,84.0
8910063,181,Zimbabwe,130,Malawi,1057,Chickens,Y2017,1000 Head,50.0,tonnes,4.0
8910142,181,Zimbabwe,147,Namibia,866,Cattle,Y2017,Head,133.0,tonnes,63.0
8910143,181,Zimbabwe,147,Namibia,866,Cattle,Y2017,Head,133.0,Head,210.0
8910156,181,Zimbabwe,150,Netherlands,1057,Chickens,Y2017,1000 Head,102.0,1000 Head,164.0
8910157,181,Zimbabwe,150,Netherlands,1057,Chickens,Y2017,1000 Head,102.0,tonnes,7.0
8910238,181,Zimbabwe,202,South Africa,866,Cattle,Y2017,Head,385.0,tonnes,0.0
8910239,181,Zimbabwe,202,South Africa,866,Cattle,Y2017,Head,385.0,Head,3827.0
8910382,181,Zimbabwe,202,South Africa,1034,Pigs,Y2017,Head,1450.0,tonnes,0.0
8910383,181,Zimbabwe,202,South Africa,1034,Pigs,Y2017,Head,1450.0,Head,1506.0
8910448,181,Zimbabwe,203,Spain,1057,Chickens,Y2017,1000 Head,23.0,1000 Head,23.0
8910449,181,Zimbabwe,203,Spain,1057,Chickens,Y2017,1000 Head,23.0,tonnes,1.0
8910504,181,Zimbabwe,229,United Kingdom,1057,Chickens,Y2017,1000 Head,27.0,1000 Head,30.0
8910505,181,Zimbabwe,229,United Kingdom,1057,Chickens,Y2017,1000 Head,27.0,tonnes,2.0
8910594,181,Zimbabwe,251,Zambia,1057,Chickens,Y2017,1000 Head,200.0,1000 Head,431.0
8910595,181,Zimbabwe,251,Zambia,1057,Chickens,Y2017,1000 Head,200.0,tonnes,19.0

In [16]:
select_on(trade_matrix_live_animals, column_filter_dict={"Unit Importer Report":['tonnes']})

,Importer Code,Importer,Exporter Code,Exporter,Item Code,Item,Year,Unit Importer Report,Quantity Importer Report,Unit Exporter Report,Quantity Exporter Report
6991970,2,Afghanistan,102,Iran (Islamic Republic of),866,Cattle,Y2014,tonnes,138.0,tonnes,138.0
6991971,2,Afghanistan,102,Iran (Islamic Republic of),866,Cattle,Y2014,tonnes,138.0,Head,458.0
6991981,2,Afghanistan,102,Iran (Islamic Republic of),1057,Chickens,Y2014,tonnes,496.0,1000 Head,8261.0
6991982,2,Afghanistan,102,Iran (Islamic Republic of),1057,Chickens,Y2014,tonnes,496.0,tonnes,496.0
6992375,2,Afghanistan,165,Pakistan,1057,Chickens,Y2014,tonnes,0.0,1000 Head,2440.0
6992376,2,Afghanistan,165,Pakistan,1057,Chickens,Y2014,tonnes,0.0,tonnes,0.0
6993006,3,Albania,11,Austria,1057,Chickens,Y2014,tonnes,21.0,1000 Head,541.0
6993007,3,Albania,11,Austria,1057,Chickens,Y2014,tonnes,21.0,tonnes,21.0
6993026,3,Albania,27,Bulgaria,866,Cattle,Y2014,tonnes,1364.0,tonnes,1359.0
6993027,3,Albania,27,Bulgaria,866,Cattle,Y2014,tonnes,1364.0,Head,5892.0
6993125,3,Albania,84,Greece,1057,Chickens,Y2014,tonnes,2782.0,1000 Head,3213.0
6993126,3,Albania,84,Greece,1057,Chickens,Y2014,tonnes,2782.0,tonnes,2773.0
6993198,3,Albania,84,Greece,1034,Pigs,Y2014,tonnes,6074.0,tonnes,6129.0
6993199,3,Albania,84,Greece,1034,Pigs,Y2014,tonnes,6074.0,Head,62197.0
6993250,3,Albania,97,Hungary,1034,Pigs,Y2014,tonnes,2039.0,tonnes,1877.0
6993251,3,Albania,97,Hungary,1034,Pigs,Y2014,tonnes,2039.0,Head,21424.0
6993277,3,Albania,106,Italy,1057,Chickens,Y2014,tonnes,123.0,1000 Head,2871.0
6993278,3,Albania,106,Italy,1057,Chickens,Y2014,tonnes,123.0,tonnes,140.0
6993414,3,Albania,154,North Macedonia,866,Cattle,Y2014,tonnes,1278.0,tonnes,1278.0
6993415,3,Albania,154,North Macedonia,866,Cattle,Y2014,tonnes,1278.0,Head,5995.0
6993458,3,Albania,183,Romania,866,Cattle,Y2014,tonnes,1438.0,tonnes,2006.0
6993459,3,Albania,183,Romania,866,Cattle,Y2014,tonnes,1438.0,Head,8556.0
6993600,4,Algeria,11,Austria,866,Cattle,Y2014,tonnes,3547.0,tonnes,3802.0
6993601,4,Algeria,11,Austria,866,Cattle,Y2014,tonnes,3547.0,Head,5854.0
6993630,4,Algeria,255,Belgium,1057,Chickens,Y2014,tonnes,0.0,NaN,NaN
6993934,4,Algeria,167,Czechia,866,Cattle,Y2014,tonnes,60.0,NaN,NaN
6994045,4,Algeria,68,France,866,Cattle,Y2014,tonnes,19285.0,tonnes,17281.0
6994046,4,Algeria,68,France,866,Cattle,Y2014,tonnes,19285.0,Head,36292.0
6994054,4,Algeria,68,France,1057,Chickens,Y2014,tonnes,103.0,1000 Head,2726.0
6994055,4,Algeria,68,France,1057,Chickens,Y2014,tonnes,103.0,tonnes,115.0
...,...,...,...,...,...,...,...,...,...,...,...
8908853,251,Zambia,150,Netherlands,1057,Chickens,Y2017,tonnes,27.0,tonnes,38.0
8909095,251,Zambia,202,South Africa,866,Cattle,Y2017,tonnes,77.0,tonnes,0.0
8909096,251,Zambia,202,South Africa,866,Cattle,Y2017,tonnes,77.0,Head,425.0
8909110,251,Zambia,202,South Africa,1057,Chickens,Y2017,tonnes,2.0,1000 Head,31.0
8909111,251,Zambia,202,South Africa,1057,Chickens,Y2017,tonnes,2.0,tonnes,0.0
8909261,251,Zambia,202,South Africa,1034,Pigs,Y2017,tonnes,1.0,tonnes,0.0
8909262,251,Zambia,202,South Africa,1034,Pigs,Y2017,tonnes,1.0,Head,85.0
8909604,251,Zambia,229,United Kingdom,1057,Chickens,Y2017,tonnes,9.0,1000 Head,136.0
8909605,251,Zambia,229,United Kingdom,1057,Chickens,Y2017,tonnes,9.0,tonnes,7.0
8909827,181,Zimbabwe,20,Botswana,866,Cattle,Y2017,tonnes,12.0,tonnes,14.0
8909828,181,Zimbabwe,20,Botswana,866,Cattle,Y2017,tonnes,12.0,Head,67.0
8909914,181,Zimbabwe,250,Democratic Republic of the Congo,866,Cattle,Y2017,tonnes,1.0,tonnes,1.0
8909915,181,Zimbabwe,250,Democratic Republic of the Congo,866,Cattle,Y2017,tonnes,1.0,Head,3.0
8909945,181,Zimbabwe,68,France,1057,Chickens,Y2017,tonnes,0.0,NaN,NaN
8910064,181,Zimbabwe,130,Malawi,1057,Chickens,Y2017,tonnes,4.0,1000 Head,84.0
8910065,181,Zimbabwe,130,Malawi,1057,Chickens,Y2017,tonnes,4.0,tonnes,4.0
8910140,181,Zimbabwe,147,Namibia,866,Cattle,Y2017,tonnes,60.0,tonnes,63.0
8910141,181,Zimbabwe,147,Namibia,866,Cattle,Y2017,tonnes,60.0,Head,210.0
8910158,181,Zimbabwe,150,Netherlands,1057,Chickens,Y2017,tonnes,4.0,1000 Head,164.0
8910159,181,Zimbabwe,150,Netherlands,1057,Chickens,Y2017,tonnes,4.0,tonnes,7.0
8910236,181,Zimbabwe,202,South Africa,866,Cattle,Y2017,tonnes,173.0,tonnes,0.0
8910237,181,Zimbabwe,202,South Africa,866,Cattle,Y2017,tonnes,173.0,Head,3827.0
8910380,181,Zimbabwe,202,South Africa,1034,Pigs,Y2017,tonnes,53.0,tonnes,0.0
8910381,181,Zimbabwe,202,South Africa,1034,Pigs,Y2017,tonnes,53.0,Head,1506.0
8910450,181,Zimbabwe,203,Spain,1057,Chickens,Y2017,tonnes,1.0,1000 Head,23.0
8910451,181,Zimbabwe,203,Spain,1057,Chickens,Y2017,tonnes,1.0,tonnes,1.0
8910506,181,Zimbabwe,229,United Kingdom,1057,Chickens,Y2017,tonnes,2.0,1000 Head,30.0
8910507,181,Zimbabwe,229,United Kingdom,1057,Chickens,Y2017,tonnes,2.0,tonnes,2.0
8910596,181,Zimbabwe,251,Zambia,1057,Chickens,Y2017,tonnes,13.0,1000 Head,431.0
8910597,181,Zimbabwe,251,Zambia,1057,Chickens,Y2017,tonnes,13.0,tonnes,19.0

In [47]:
df = trade_matrix_live_animals.copy()
df.set_index(["Year","Item","Importer","Exporter","Unit Importer Report"], inplace=True)
df = df[["Quantity Importer Report"]]

In [50]:
df.duplicated()

Year   Item      Importer        Exporter                  Unit Importer Report
Y1986  Cattle    Algeria         Austria                   Head                     True
       Chickens  Algeria         Austria                   1000 Head                True
                                 Belgium-Luxembourg        1000 Head               False
       Cattle    Algeria         Bulgaria                  Head                     True
                                 Denmark                   Head                     True
       Chickens  Algeria         Denmark                   1000 Head                True
       Cattle    Algeria         France                    Head                     True
       Chickens  Algeria         France                    1000 Head                True
                                 Hungary                   1000 Head                True
       Cattle    Algeria         Netherlands               Head                     True
       Chickens  Algeria         Netherlands               1000 Head                True
                                 Spain                     1000 Head                True
                                 Tunisia                   1000 Head                True
                                 United States of America  1000 Head                True
                                 Yugoslav SFR              1000 Head               False
       Cattle    Argentina       Brazil                    Head                     True
       Chickens  Argentina       Brazil                    1000 Head                True
       Cattle    Argentina       Canada                    Head                     True
       Pigs      Argentina       France                    Head                     True
                                 Netherlands               Head                     True
       Cattle    Argentina       Paraguay                  Head                     True
                                 United States of America  Head                     True
       Pigs      Argentina       United States of America  Head                     True
       Cattle    Argentina       Uruguay                   Head                     True
       Pigs      Australia       Canada                    Head                     True
       Cattle    Australia       Japan                     Head                     True
                                 New Zealand               Head                     True
                                 United Kingdom            Head                     True
       Pigs      Australia       United Kingdom            Head                     True
       Cattle    Australia       United States of America  Head                     True
                                                                                   ...
Y2017  Pigs      Sweden          United States of America  NaN                      True
                                                           NaN                      True
       Cattle    Switzerland     United States of America  NaN                      True
                                                           NaN                      True
       Pigs      Switzerland     United States of America  NaN                      True
                                                           NaN                      True
                 Turkey          United States of America  NaN                      True
                                                           NaN                      True
       Cattle    United Kingdom  United States of America  NaN                      True
                                                           NaN                      True
                 Viet Nam        United States of America  NaN                      True
                                                           NaN                      True
       Chickens  Viet Nam        United States of America  NaN                      True
                                                           NaN                      True
       Pigs      Viet Nam        United States of America  NaN                      True
                                                           NaN                      True
       Cattle    Egypt           Uruguay                   NaN                      True
                                                           NaN                      True
                 Iraq            Uruguay                   NaN                      True
                                                           NaN                      True
       Chickens  Angola          Zambia                    NaN                      True
                                                           NaN                      True
                 Mozambique      Zambia                    NaN                      True
                                                           NaN                      True
       Cattle    Mozambique      Zimbabwe                  NaN                      True
                                                           NaN                      True
       Chickens  Mozambique      Zimbabwe                  NaN                      True
                                                           NaN                      True
       Cattle    South Africa    Zimbabwe                  NaN                      True
                                                           NaN                      True
Length: 85871, dtype: bool

In [25]:
trade_matrix_live_animals.groupby(by=["Year","Item","Importer"]).isin()

                                                 Importer Code  Exporter Code  \
Year  Item   Importer
Y1986 Cattle Algeria                                         5              5
             Andorra                                         2              2
             Argentina                                       5              5
             Australia                                       6              6
             Austria                                         4              4
             Bahrain                                         3              3
             Barbados                                        1              1
             Belgium-Luxembourg                              8              8
             Bermuda                                         1              1
             Bolivia (Plurinational State of)                4              4
             Brazil                                          9              9
             Brunei Darussalam                               1              1
             Bulgaria                                        2              2
             Canada                                          7              7
             Cayman Islands                                  1              1
             China, Hong Kong SAR                            3              3
             China, Macao SAR                                2              2
             China, Taiwan Province of                       4              4
             China, mainland                                 6              6
             Colombia                                        5              5
             Costa Rica                                      2              2
             Cuba                                            2              2
             Czechoslovakia                                  6              6
             Denmark                                         8              8
             Djibouti                                        1              1
             Dominican Republic                              1              1
             Ecuador                                         6              6
             Egypt                                          11             11
             El Salvador                                     4              4
             Falkland Islands (Malvinas)                     1              1
...                                                        ...            ...
Y2017 Pigs   Romania                                        56             56
             Russian Federation                             16             16
             Rwanda                                          4              4
             Sao Tome and Principe                           2              2
             Saudi Arabia                                    4              4
             Serbia                                         36             36
             Seychelles                                      2              2
             Singapore                                       8              8
             Slovakia                                       28             28
             Slovenia                                       18             18
             South Africa                                    4              4
             Spain                                          46             46
             Suriname                                        4              4
             Sweden                                         12             12
             Switzerland                                    22             22
             Thailand                                       18             18
             Timor-Leste                                     2              2
             Trinidad and Tobago                             4              4
             Turkey                                          2              2
             Uganda                                         12             12
             Ukraine                                        28             28
             United Kingdom                                 28             28
             United Republic of Tanzania                    12             12
             United States of America                       18             18
             Unspecified Area                                4              4
             Uruguay                                         4              4
             Venezuela (Bolivarian Republic of)              4              4
             Viet Nam                                       12             12
             Zambia                                          4              4
             Zimbabwe                                        4              4

                                                 Exporter  Item Code  \
Year  Item   Importer
Y1986 Cattle Algeria                                    5          5
             Andorra                                    2          2
             Argentina                                  5          5
             Australia                                  6          6
             Austria                                    4          4
             Bahrain                                    3          3
             Barbados                                   1          1
             Belgium-Luxembourg                         8          8
             Bermuda                                    1          1
             Bolivia (Plurinational State of)           4          4
             Brazil                                     9          9
             Brunei Darussalam                          1          1
             Bulgaria                                   2          2
             Canada                                     7          7
             Cayman Islands                             1          1
             China, Hong Kong SAR                       3          3
             China, Macao SAR                           2          2
             China, Taiwan Province of                  4          4
             China, mainland                            6          6
             Colombia                                   5          5
             Costa Rica                                 2          2
             Cuba                                       2          2
             Czechoslovakia                             6          6
             Denmark                                    8          8
             Djibouti                                   1          1
             Dominican Republic                         1          1
             Ecuador                                    6          6
             Egypt                                     11         11
             El Salvador                                4          4
             Falkland Islands (Malvinas)                1          1
...                                                   ...        ...
Y2017 Pigs   Romania                                   56         56
             Russian Federation                        16         16
             Rwanda                                     4          4
             Sao Tome and Principe                      2          2
             Saudi Arabia                               4          4
             Serbia                                    36         36
             Seychelles                                 2          2
             Singapore                                  8          8
             Slovakia                                  28         28
             Slovenia                                  18         18
             South Africa                               4          4
             Spain                                     46         46
             Suriname                                   4          4
             Sweden                                    12         12
             Switzerland                               22         22
             Thailand                                  18         18
             Timor-Leste                                2          2
             Trinidad and Tobago                        4          4
             Turkey                                     2          2
             Uganda                                    12         12
             Ukraine                                   28         28
             United Kingdom                            28         28
             United Republic of Tanzania               12         12
             United States of America                  18         18
             Unspecified Area                           4          4
             Uruguay                                    4          4
             Venezuela (Bolivarian Republic of)         4          4
             Viet Nam                                  12         12
             Zambia                                     4          4
             Zimbabwe                                   4          4

                                                 Unit Importer Report  \
Year  Item   Importer
Y1986 Cattle Algeria                                                5
             Andorra                                                0
             Argentina                                              5
             Australia                                              4
             Austria                                                4
             Bahrain                                                0
             Barbados                                               0
             Belgium-Luxembourg                                     8
             Bermuda                                                0
             Bolivia (Plurinational State of)                       0
             Brazil                                                 8
             Brunei Darussalam                                      1
             Bulgaria                                               2
             Canada                                                 7
             Cayman Islands                                         0
             China, Hong Kong SAR                                   1
             China, Macao SAR                                       2
             China, Taiwan Province of                              1
             China, mainland                                        0
             Colombia                                               5
             Costa Rica                                             2
             Cuba                                                   0
             Czechoslovakia                                         0
             Denmark                                                8
             Djibouti                                               1
             Dominican Republic                                     0
             Ecuador                                                0
             Egypt                                                 10
             El Salvador                                            0
             Falkland Islands (Malvinas)                            0
...                                                               ...
Y2017 Pigs   Romania                                               52
             Russian Federation                                    16
             Rwanda                                                 4
             Sao Tome and Principe                                  2
             Saudi Arabia                                           4
             Serbia                                                32
             Seychelles                                             2
             Singapore                                              0
             Slovakia                                              24
             Slovenia                                              18
             South Africa                                           2
             Spain                                                 42
             Suriname                                               2
             Sweden                                                 8
             Switzerland                                           20
             Thailand                                              14
             Timor-Leste                                            0
             Trinidad and Tobago                                    4
             Turkey                                                 0
             Uganda                                                12
             Ukraine                                               24
             United Kingdom                                        16
             United Republic of Tanzania                           12
             United States of America                              10
             Unspecified Area                                       0
             Uruguay                                                4
             Venezuela (Bolivarian Republic of)                     4
             Viet Nam                                               0
             Zambia                                                 4
             Zimbabwe                                               4

                                                 Quantity Importer Report  \
Year  Item   Importer
Y1986 Cattle Algeria                                                    5
             Andorra                                                    0
             Argentina                                                  5
             Australia                                                  4
             Austria                                                    4
             Bahrain                                                    0
             Barbados                                                   0
             Belgium-Luxembourg                                         8
             Bermuda                                                    0
             Bolivia (Plurinational State of)                           0
             Brazil                                                     8
             Brunei Darussalam                                          1
             Bulgaria                                                   2
             Canada                                                     7
             Cayman Islands                                             0
             China, Hong Kong SAR                                       1
             China, Macao SAR                                           2
             China, Taiwan Province of                                  1
             China, mainland                                            0
             Colombia                                                   5
             Costa Rica                                                 2
             Cuba                                                       0
             Czechoslovakia                                             0
             Denmark                                                    8
             Djibouti                                                   1
             Dominican Republic                                         0
             Ecuador                                                    0
             Egypt                                                     10
             El Salvador                                                0
             Falkland Islands (Malvinas)                                0
...                                                                   ...
Y2017 Pigs   Romania                                                   52
             Russian Federation                                        16
             Rwanda                                                     4
             Sao Tome and Principe                                      2
             Saudi Arabia                                               4
             Serbia                                                    32
             Seychelles                                                 2
             Singapore                                                  0
             Slovakia                                                  24
             Slovenia                                                  18
             South Africa                                               2
             Spain                                                     42
             Suriname                                                   2
             Sweden                                                     8
             Switzerland                                               20
             Thailand                                                  14
             Timor-Leste                                                0
             Trinidad and Tobago                                        4
             Turkey                                                     0
             Uganda                                                    12
             Ukraine                                                   24
             United Kingdom                                            16
             United Republic of Tanzania                               12
             United States of America                                  10
             Unspecified Area                                           0
             Uruguay                                                    4
             Venezuela (Bolivarian Republic of)                         4
             Viet Nam                                                   0
             Zambia                                                     4
             Zimbabwe                                                   4

                                                 Unit Exporter Report  \
Year  Item   Importer
Y1986 Cattle Algeria                                                5
             Andorra                                                2
             Argentina                                              5
             Australia                                              4
             Austria                                                2
             Bahrain                                                3
             Barbados                                               1
             Belgium-Luxembourg                                     5
             Bermuda                                                1
             Bolivia (Plurinational State of)                       4
             Brazil                                                 7
             Brunei Darussalam                                      1
             Bulgaria                                               2
             Canada                                                 2
             Cayman Islands                                         1
             China, Hong Kong SAR                                   2
             China, Macao SAR                                       0
             China, Taiwan Province of                              4
             China, mainland                                        6
             Colombia                                               3
             Costa Rica                                             1
             Cuba                                                   2
             Czechoslovakia                                         6
             Denmark                                                6
             Djibouti                                               0

In [14]:
print(len(dfs_prod_animals["production"]["Item"].unique()))
print(dfs_prod_animals["production"]["Item"].unique())
display(dfs_prod_animals["production"].head())
display(dfs_prod_animals["production"].groupby(by=["Unit","Item"]).sum())
select_on(dfs_prod_animals["production"], column_filter_dict = {"Unit":["Head"]})["Item"].unique()

66
['Eggs, hen, in shell' 'Eggs, hen, in shell (number)' 'Honey, natural'
 'Meat indigenous, camel' 'Meat indigenous, cattle'
 'Meat indigenous, chicken' 'Meat indigenous, goat'
 'Meat indigenous, sheep' 'Meat, cattle' 'Meat, game' 'Meat, goat'
 'Meat, sheep' 'Milk, whole fresh cow' 'Milk, whole fresh goat'
 'Milk, whole fresh sheep' 'Silk-worm cocoons, reelable' 'Wool, greasy'
 'Eggs, other bird, in shell' 'Eggs, other bird, in shell (number)'
 'Meat indigenous, pig' 'Meat, chicken' 'Meat, nes' 'Meat, pig'
 'Milk, whole fresh buffalo' 'Meat indigenous, horse'
 'Meat indigenous, rabbit' 'Meat indigenous, turkey' 'Meat, camel'
 'Meat, horse' 'Milk, whole fresh camel' 'Beeswax' 'Meat indigenous, duck'
 'Meat indigenous, geese' 'Skins, sheep, with wool' 'Hides, cattle, fresh'
 'Meat, duck' 'Meat, turkey' 'Meat, goose and guinea fowl' 'Meat, rabbit'
 'Skins, sheep, fresh' 'Meat indigenous, buffalo' 'Meat, buffalo'
 'Skins, goat, fresh' 'Meat indigenous, other camelids'
 'Meat indigenous, rodents' 'Meat, other camelids' 'Hides, buffalo, fresh'
 'Meat indigenous, ass' 'Meat indigenous, bird nes'
 'Meat indigenous, mule' 'Meat, ass' 'Meat, mule' 'Snails, not sea'
 'Meat, bird nes' 'Hair, horse' 'Meat, other rodents' 'Offals, nes'
 'Skins, furs' 'Beef and Buffalo Meat' 'Eggs Primary'
 'Meat indigenous, poultry' 'Meat indigenous, total' 'Meat, Poultry'
 'Meat, Total' 'Milk,Total' 'Sheep and Goat Meat']

,Area Code,Area,Item Code,Item,Element Code,Year,Unit,Value,Flag
49,2,Afghanistan,1062,"Eggs, hen, in shell",5510,1961,tonnes,10000.0,FAO estimate
50,2,Afghanistan,1062,"Eggs, hen, in shell",5510,1962,tonnes,11000.0,FAO estimate
51,2,Afghanistan,1062,"Eggs, hen, in shell",5510,1963,tonnes,11500.0,FAO estimate
52,2,Afghanistan,1062,"Eggs, hen, in shell",5510,1964,tonnes,12000.0,FAO estimate
53,2,Afghanistan,1062,"Eggs, hen, in shell",5510,1965,tonnes,12800.0,FAO estimate

                                            Area Code  Item Code  \
Unit   Item
Head   Meat indigenous, ass                     78254     534072
       Meat indigenous, bird nes                61957     459616
       Meat indigenous, buffalo                198485    1545480
       Meat indigenous, camel                  274241    2120505
       Meat indigenous, cattle                1295508    9704320
       Meat indigenous, chicken               1305991   11275858
       Meat indigenous, duck                   500290    4321730
       Meat indigenous, geese                  261978    2230467
       Meat indigenous, goat                  1143905    9370560
       Meat indigenous, horse                  489096    4236960
       Meat indigenous, mule                    31535     178716
       Meat indigenous, other camelids          10017     123066
       Meat indigenous, pig                   1177796    9869525
       Meat indigenous, poultry               1305640   18293150
       Meat indigenous, rabbit                 324267    3072784
       Meat indigenous, rodents                 10017     122324
       Meat indigenous, sheep                 1175604    9539112
       Meat indigenous, turkey                 399583    3554490
No     Eggs, hen, in shell                     658480    5450184
       Eggs, hen, in shell (number)           1298496   10935683
       Eggs, other bird, in shell              159485    1300472
       Eggs, other bird, in shell (number)     300097    2418780
tonnes Beef and Buffalo Meat                  1320177   18916044
       Beeswax                                 365053    3418870
       Eggs Primary                           1326646   18691189
       Eggs, hen, in shell                    1326997   11134008
       Eggs, other bird, in shell              312805    2584579
       Hair, horse                               9958      88000
       Hides, buffalo, fresh                   198485    1521630
       Hides, cattle, fresh                   1291048    9425264
...                                               ...        ...
       Meat, cattle                           1320528    9081825
       Meat, chicken                          1334457   11130160
       Meat, duck                              511718    4411763
       Meat, game                              433331    3630886
       Meat, goat                             1164320    9406233
       Meat, goose and guinea fowl             283936    2390644
       Meat, horse                             512424    4311210
       Meat, mule                               32130     179982
       Meat, nes                               398722    3529482
       Meat, other camelids                     10206     125064
       Meat, other rodents                      10206     124308
       Meat, pig                              1203413    9893565
       Meat, rabbit                            346318    3223325
       Meat, sheep                            1196458    9356729
       Meat, turkey                            412711    3678480
       Milk, whole fresh buffalo               133971    1177338
       Milk, whole fresh camel                 205622    1550360
       Milk, whole fresh cow                  1249664    8784720
       Milk, whole fresh goat                  651810    5418240
       Milk, whole fresh sheep                 490307    3700176
       Milk,Total                             1269887   17919260
       Offals, nes                              88082     731709
       Sheep and Goat Meat                    1295893   18521750
       Silk-worm cocoons, reelable             217998    1932735
       Skins, furs                               2725      15535
       Skins, goat, fresh                     1131220    9226025
       Skins, sheep, fresh                    1166165    9301260
       Skins, sheep, with wool                 281034    2250747
       Snails, not sea                          30368     215208
       Wool, greasy                            573625    4614225

                                            Element Code      Year  \
Unit   Item
Head   Meat indigenous, ass                      2533272    945810
       Meat indigenous, bird nes                 2256952    842488
       Meat indigenous, buffalo                  8461980   3159330
       Meat indigenous, camel                    9925530   3707306
       Meat indigenous, cattle                  54710160  20434014
       Meat indigenous, chicken                 54864161  20487419
       Meat indigenous, duck                    21499597   8027445
       Meat indigenous, geese                   11023933   4115915
       Meat indigenous, goat                    48323760  18047192
       Meat indigenous, horse                   20133126   7521248
       Meat indigenous, mule                      846198    315933
       Meat indigenous, other camelids            564132    210622
       Meat indigenous, pig                     49787310  18595618
       Meat indigenous, poultry                 54858838  20485429
       Meat indigenous, rabbit                  14297578   5342475
       Meat indigenous, rodents                   564238    210622
       Meat indigenous, sheep                   50165172  18737098
       Meat indigenous, turkey                  17406210   6499276
No     Eggs, hen, in shell                      28292716  10274891
       Eggs, hen, in shell (number)             56502737  20372835
       Eggs, other bird, in shell                6571496   2385913
       Eggs, other bird, in shell (number)      12211295   4406670
tonnes Beef and Buffalo Meat                    57711740  20825010
       Beeswax                                  15923900   5745438
       Eggs Primary                             57761330  20843439
       Eggs, hen, in shell                      57766840  20845429
       Eggs, other bird, in shell               13053190   4714612
       Hair, horse                                440800    159355
       Hides, buffalo, fresh                     8760900   3159330
       Hides, cattle, fresh                     56510560  20385995
...                                                  ...       ...
       Meat, cattle                             57717250  20827000
       Meat, chicken                            57965200  20916395
       Meat, duck                               22739770   8206574
       Meat, game                               17202220   6206065
       Meat, goat                               50961990  18387886
       Meat, goose and guinea fowl              12276280   4430003
       Meat, horse                              21654300   7815787
       Meat, mule                                 892620    321975
       Meat, nes                                16678770   6019549
       Meat, other camelids                       595080    214650
       Meat, other rodents                        595080    214650
       Meat, pig                                52670090  19006238
       Meat, rabbit                             15565750   5620790
       Meat, sheep                              52769270  19042602
       Meat, turkey                             18767060   6772858
       Milk, whole fresh buffalo                 6821380   2461258
       Milk, whole fresh camel                   7559720   2729545
       Milk, whole fresh cow                    54879600  19803555
       Milk, whole fresh goat                   29269120  10566970
       Milk, whole fresh sheep                  20761680   7494629
       Milk,Total                               55469170  20016215
       Offals, nes                               3454770   1246277
       Sheep and Goat Meat                      56477500  20379827
       Silk-worm cocoons, reelable               8986810   3242638
       Skins, furs                                 71630     25926
       Skins, goat, fresh                       49595510  17889036
       Skins, sheep, fresh                      51507480  18581804
       Skins, sheep, with wool                  12414030   4481707
       Snails, not sea                           1008330    363968
       Wool, greasy                             25759250   9296575

                                                   Value
Unit   Item
Head   Meat indigenous, ass                 1.179856e+08
       Meat indigenous, bird nes            2.042260e+09
       Meat indigenous, buffalo             9.183030e+08
       Meat indigenous, camel               7.212180e+07
       Meat indigenous, cattle              1.386931e+10
       Meat indigenous, chicken             1.646935e+12
       Meat indigenous, duck                9.854307e+10
       Meat indigenous, geese               2.511424e+10
       Meat indigenous, goat                1.495846e+10
       Meat indigenous, horse               2.342557e+08
       Meat indigenous, mule                3.290774e+07
       Meat indigenous, other camelids      2.721734e+07
       Meat indigenous, pig                 6.351806e+10
       Meat indigenous, poultry             1.793439e+12
       Meat indigenous, rabbit              4.248131e+10
       Meat indigenous, rodents             4.104583e+09
       Meat indigenous, sheep               2.586955e+10
       Meat indigenous, turkey              2.350977e+10
No     Eggs, hen, in shell                  3.382271e+13
       Eggs, hen, in shell (number)         4.589668e+13
       Eggs, other bird, in shell           2.843981e+12
       Eggs, other bird, in shell (number)  3.609016e+12
tonnes Beef and Buffalo Meat                2.896327e+09
       Beeswax                              2.645394e+06
       Eggs Primary                         2.750464e+09
       Eggs, hen, in shell                  2.515061e+09
       Eggs, other bird, in shell           2.435786e+08
       Hair, horse                          5.603000e+03
       Hides, buffalo, fresh                3.445416e+07
       Hides, cattle, fresh                 3.565643e+08
...                                                  ...
       Meat, cattle                         2.769479e+09
       Meat, chicken                        2.401662e+09
       Meat, duck                           1.473910e+08
       Meat, game                           7.117939e+07
       Meat, goat                           1.852489e+08
       Meat, goose and guinea fowl          1.016306e+08
       Meat, horse                          3.781208e+07
       Meat, mule                           3.441914e+06
       Meat, nes                            5.999143e+07
       Meat, other camelids                 9.710610e+05
       Meat, other rodents                  1.094461e+06
       Meat, pig                            4.808221e+09
       Meat, rabbit                         5.875854e+07
       Meat, sheep                          4.001705e+08
       Meat, turkey                         1.746966e+08
       Milk, whole fresh buffalo            2.660055e+09
       Milk, whole fresh camel              8.511421e+07
       Milk, whole fresh cow                2.511507e+10
       Milk, whole fresh goat               5.701223e+08
       Milk, whole fresh sheep              4.415287e+08
       Milk,Total                           2.886485e+10
       Offals, nes                          1.132710e+05
       Sheep and Goat Meat                  5.843507e+08
       Silk-worm cocoons, reelable          2.849291e+07
       Skins, furs                          0.000000e+00
       Skins, goat, fresh                   3.994318e+07
       Skins, sheep, fresh                  9.635369e+07
       Skins, sheep, with wool              2.115150e+07
       Snails, not sea                      2.525200e+05
       Wool, greasy                         1.508779e+08

[86 rows x 5 columns]

array(['Meat indigenous, camel', 'Meat indigenous, cattle',
       'Meat indigenous, chicken', 'Meat indigenous, goat',
       'Meat indigenous, sheep', 'Meat indigenous, pig',
       'Meat indigenous, horse', 'Meat indigenous, rabbit',
       'Meat indigenous, turkey', 'Meat indigenous, duck',
       'Meat indigenous, geese', 'Meat indigenous, buffalo',
       'Meat indigenous, other camelids', 'Meat indigenous, rodents',
       'Meat indigenous, ass', 'Meat indigenous, bird nes',
       'Meat indigenous, mule', 'Meat indigenous, poultry'], dtype=object)

In [411]:
df1 = select_on(dfs_prod_animals["production"],
                  column_filter_dict={"Item" : ['Meat indigenous, cattle'
                                                #,'Meat indigenous, chicken', 'Meat indigenous, pig'
                                               ], "Unit":["tonnes"]}).sort_values(by=["Area","Year","Item"])[["Area","Year","Item","Value"]]
df1.columns = [["Area","Year","Item1","Value1"]]
df1.head()

               Area  Year                    Item1   Value1
258437  Afghanistan  1961  Meat indigenous, cattle  42984.0
258438  Afghanistan  1962  Meat indigenous, cattle  45811.0
258439  Afghanistan  1963  Meat indigenous, cattle  47243.0
258440  Afghanistan  1964  Meat indigenous, cattle  47999.0
258441  Afghanistan  1965  Meat indigenous, cattle  48715.0

In [412]:
df2 = select_on(dfs_prod_animals["production"],
                  column_filter_dict={"Item" : ['Meat, cattle'
                                                #,'Meat, chicken', 'Meat, pig'
                                               ], "Unit":["tonnes"]}).sort_values(by=["Area","Year","Item"])[["Area","Year","Item","Value"]]
df2.columns = [["Area","Year","Item2","Value2"]]
df2.head()

            Area  Year         Item2   Value2
539  Afghanistan  1961  Meat, cattle  43000.0
540  Afghanistan  1962  Meat, cattle  45800.0
541  Afghanistan  1963  Meat, cattle  47250.0
542  Afghanistan  1964  Meat, cattle  48000.0
543  Afghanistan  1965  Meat, cattle  48700.0

In [416]:
df = df1.merge(df2)
display(df)


df["diff"] = df["Value1"] - df["Value2"]

,Area,Year,Item1,Value1,Item2,Value2
0,Afghanistan,1961,"Meat indigenous, cattle",42984.0,"Meat, cattle",43000.0
1,Afghanistan,1962,"Meat indigenous, cattle",45811.0,"Meat, cattle",45800.0
2,Afghanistan,1963,"Meat indigenous, cattle",47243.0,"Meat, cattle",47250.0
3,Afghanistan,1964,"Meat indigenous, cattle",47999.0,"Meat, cattle",48000.0
4,Afghanistan,1965,"Meat indigenous, cattle",48715.0,"Meat, cattle",48700.0
5,Afghanistan,1966,"Meat indigenous, cattle",68010.0,"Meat, cattle",68000.0
6,Afghanistan,1967,"Meat indigenous, cattle",65008.0,"Meat, cattle",65000.0
7,Afghanistan,1968,"Meat indigenous, cattle",71019.0,"Meat, cattle",71000.0
8,Afghanistan,1969,"Meat indigenous, cattle",75019.0,"Meat, cattle",75000.0
9,Afghanistan,1970,"Meat indigenous, cattle",61970.0,"Meat, cattle",62000.0
10,Afghanistan,1971,"Meat indigenous, cattle",61970.0,"Meat, cattle",62000.0
11,Afghanistan,1972,"Meat indigenous, cattle",60975.0,"Meat, cattle",61000.0
12,Afghanistan,1973,"Meat indigenous, cattle",63022.0,"Meat, cattle",63000.0
13,Afghanistan,1974,"Meat indigenous, cattle",62020.0,"Meat, cattle",62000.0
14,Afghanistan,1975,"Meat indigenous, cattle",61022.0,"Meat, cattle",61000.0
15,Afghanistan,1976,"Meat indigenous, cattle",62297.0,"Meat, cattle",62300.0
16,Afghanistan,1977,"Meat indigenous, cattle",66002.0,"Meat, cattle",66000.0
17,Afghanistan,1978,"Meat indigenous, cattle",67007.0,"Meat, cattle",67000.0
18,Afghanistan,1979,"Meat indigenous, cattle",70977.0,"Meat, cattle",71000.0
19,Afghanistan,1980,"Meat indigenous, cattle",66976.0,"Meat, cattle",67000.0
20,Afghanistan,1981,"Meat indigenous, cattle",67984.0,"Meat, cattle",68000.0
21,Afghanistan,1982,"Meat indigenous, cattle",68992.0,"Meat, cattle",69000.0
22,Afghanistan,1983,"Meat indigenous, cattle",67980.0,"Meat, cattle",68000.0
23,Afghanistan,1984,"Meat indigenous, cattle",68016.0,"Meat, cattle",68000.0
24,Afghanistan,1985,"Meat indigenous, cattle",67986.0,"Meat, cattle",68000.0
25,Afghanistan,1986,"Meat indigenous, cattle",67999.0,"Meat, cattle",68000.0
26,Afghanistan,1987,"Meat indigenous, cattle",70015.0,"Meat, cattle",70000.0
27,Afghanistan,1988,"Meat indigenous, cattle",71008.0,"Meat, cattle",71000.0
28,Afghanistan,1989,"Meat indigenous, cattle",71008.0,"Meat, cattle",71000.0
29,Afghanistan,1990,"Meat indigenous, cattle",86400.0,"Meat, cattle",86400.0
...,...,...,...,...,...,...
10223,Zimbabwe,1984,"Meat indigenous, cattle",87703.0,"Meat, cattle",87703.0
10224,Zimbabwe,1985,"Meat indigenous, cattle",84493.0,"Meat, cattle",84401.0
10225,Zimbabwe,1986,"Meat indigenous, cattle",73480.0,"Meat, cattle",73382.0
10226,Zimbabwe,1987,"Meat indigenous, cattle",84960.0,"Meat, cattle",84933.0
10227,Zimbabwe,1988,"Meat indigenous, cattle",80284.0,"Meat, cattle",80243.0
10228,Zimbabwe,1989,"Meat indigenous, cattle",73398.0,"Meat, cattle",73398.0
10229,Zimbabwe,1990,"Meat indigenous, cattle",81794.0,"Meat, cattle",81740.0
10230,Zimbabwe,1991,"Meat indigenous, cattle",83892.0,"Meat, cattle",83840.0
10231,Zimbabwe,1992,"Meat indigenous, cattle",95666.0,"Meat, cattle",94086.0
10232,Zimbabwe,1993,"Meat indigenous, cattle",77522.0,"Meat, cattle",75443.0
10233,Zimbabwe,1994,"Meat indigenous, cattle",70890.0,"Meat, cattle",67412.0
10234,Zimbabwe,1995,"Meat indigenous, cattle",74933.0,"Meat, cattle",73169.0
10235,Zimbabwe,1996,"Meat indigenous, cattle",68005.0,"Meat, cattle",67440.0
10236,Zimbabwe,1997,"Meat indigenous, cattle",74047.0,"Meat, cattle",73605.0
10237,Zimbabwe,1998,"Meat indigenous, cattle",77514.0,"Meat, cattle",73720.0
10238,Zimbabwe,1999,"Meat indigenous, cattle",97813.0,"Meat, cattle",95380.0
10239,Zimbabwe,2000,"Meat indigenous, cattle",105880.0,"Meat, cattle",101250.0
10240,Zimbabwe,2001,"Meat indigenous, cattle",108550.0,"Meat, cattle",108000.0
10241,Zimbabwe,2002,"Meat indigenous, cattle",96914.0,"Meat, cattle",96750.0
10242,Zimbabwe,2003,"Meat indigenous, cattle",99450.0,"Meat, cattle",99450.0
10243,Zimbabwe,2004,"Meat indigenous, cattle",102398.0,"Meat, cattle",102375.0
10244,Zimbabwe,2005,"Meat indigenous, cattle",101731.0,"Meat, cattle",101700.0
10245,Zimbabwe,2006,"Meat indigenous, cattle",102362.0,"Meat, cattle",102375.0
10246,Zimbabwe,2007,"Meat indigenous, cattle",103471.0,"Meat, cattle",103500.0
10247,Zimbabwe,2008,"Meat indigenous, cattle",103924.0,"Meat, cattle",103950.0
10248,Zimbabwe,2009,"Meat indigenous, cattle",104042.0,"Meat, cattle",109000.0
10249,Zimbabwe,2010,"Meat indigenous, cattle",99585.0,"Meat, cattle",115634.0
10250,Zimbabwe,2011,"Meat indigenous, cattle",97778.0,"Meat, cattle",121300.0
10251,Zimbabwe,2012,"Meat indigenous, cattle",101337.0,"Meat, cattle",122000.0
10252,Zimbabwe,2013,"Meat indigenous, cattle",102256.0,"Meat, cattle",123000.0

      Value1 Value2
0        NaN    NaN
1        NaN    NaN
2        NaN    NaN
3        NaN    NaN
4        NaN    NaN
5        NaN    NaN
6        NaN    NaN
7        NaN    NaN
8        NaN    NaN
9        NaN    NaN
10       NaN    NaN
11       NaN    NaN
12       NaN    NaN
13       NaN    NaN
14       NaN    NaN
15       NaN    NaN
16       NaN    NaN
17       NaN    NaN
18       NaN    NaN
19       NaN    NaN
20       NaN    NaN
21       NaN    NaN
22       NaN    NaN
23       NaN    NaN
24       NaN    NaN
25       NaN    NaN
26       NaN    NaN
27       NaN    NaN
28       NaN    NaN
29       NaN    NaN
...      ...    ...
10223    NaN    NaN
10224    NaN    NaN
10225    NaN    NaN
10226    NaN    NaN
10227    NaN    NaN
10228    NaN    NaN
10229    NaN    NaN
10230    NaN    NaN
10231    NaN    NaN
10232    NaN    NaN
10233    NaN    NaN
10234    NaN    NaN
10235    NaN    NaN
10236    NaN    NaN
10237    NaN    NaN
10238    NaN    NaN
10239    NaN    NaN
10240    NaN    NaN
10241    NaN    NaN
10242    NaN    NaN
10243    NaN    NaN
10244    NaN    NaN
10245    NaN    NaN
10246    NaN    NaN
10247    NaN    NaN
10248    NaN    NaN
10249    NaN    NaN
10250    NaN    NaN
10251    NaN    NaN
10252    NaN    NaN

[10253 rows x 2 columns]

In [379]:
display(select_on(dfs_prod_animals["production"],
                  column_filter_dict={"Item" : ['Meat indigenous, cattle',
       'Meat indigenous, chicken', 'Meat indigenous, pig','Meat, cattle',
       'Meat, chicken', 'Meat, pig'], "Unit":["tonnes"]})
        .sort_values(by=["Area","Year","Item"]))

,Area Code,Area,Item Code,Item,Element Code,Year,Unit,Value,Flag
258437,2,Afghanistan,944,"Meat indigenous, cattle",5510,1961,tonnes,42984.0,Calculated data
258543,2,Afghanistan,1094,"Meat indigenous, chicken",5510,1961,tonnes,5600.0,Calculated data
539,2,Afghanistan,867,"Meat, cattle",5510,1961,tonnes,43000.0,FAO estimate
258999,2,Afghanistan,1058,"Meat, chicken",5510,1961,tonnes,5600.0,Calculated data
258438,2,Afghanistan,944,"Meat indigenous, cattle",5510,1962,tonnes,45811.0,Calculated data
258544,2,Afghanistan,1094,"Meat indigenous, chicken",5510,1962,tonnes,6000.0,Calculated data
540,2,Afghanistan,867,"Meat, cattle",5510,1962,tonnes,45800.0,FAO estimate
259000,2,Afghanistan,1058,"Meat, chicken",5510,1962,tonnes,6000.0,Calculated data
258439,2,Afghanistan,944,"Meat indigenous, cattle",5510,1963,tonnes,47243.0,Calculated data
258545,2,Afghanistan,1094,"Meat indigenous, chicken",5510,1963,tonnes,6160.0,Calculated data
541,2,Afghanistan,867,"Meat, cattle",5510,1963,tonnes,47250.0,FAO estimate
259001,2,Afghanistan,1058,"Meat, chicken",5510,1963,tonnes,6160.0,Calculated data
258440,2,Afghanistan,944,"Meat indigenous, cattle",5510,1964,tonnes,47999.0,Calculated data
258546,2,Afghanistan,1094,"Meat indigenous, chicken",5510,1964,tonnes,6400.0,Calculated data
542,2,Afghanistan,867,"Meat, cattle",5510,1964,tonnes,48000.0,FAO estimate
259002,2,Afghanistan,1058,"Meat, chicken",5510,1964,tonnes,6400.0,Calculated data
258441,2,Afghanistan,944,"Meat indigenous, cattle",5510,1965,tonnes,48715.0,Calculated data
258547,2,Afghanistan,1094,"Meat indigenous, chicken",5510,1965,tonnes,6800.0,Calculated data
543,2,Afghanistan,867,"Meat, cattle",5510,1965,tonnes,48700.0,FAO estimate
259003,2,Afghanistan,1058,"Meat, chicken",5510,1965,tonnes,6800.0,Calculated data
258442,2,Afghanistan,944,"Meat indigenous, cattle",5510,1966,tonnes,68010.0,Calculated data
258548,2,Afghanistan,1094,"Meat indigenous, chicken",5510,1966,tonnes,7200.0,Calculated data
544,2,Afghanistan,867,"Meat, cattle",5510,1966,tonnes,68000.0,FAO estimate
259004,2,Afghanistan,1058,"Meat, chicken",5510,1966,tonnes,7200.0,Calculated data
258443,2,Afghanistan,944,"Meat indigenous, cattle",5510,1967,tonnes,65008.0,Calculated data
258549,2,Afghanistan,1094,"Meat indigenous, chicken",5510,1967,tonnes,7600.0,Calculated data
545,2,Afghanistan,867,"Meat, cattle",5510,1967,tonnes,65000.0,FAO estimate
259005,2,Afghanistan,1058,"Meat, chicken",5510,1967,tonnes,7600.0,Calculated data
258444,2,Afghanistan,944,"Meat indigenous, cattle",5510,1968,tonnes,71019.0,Calculated data
258550,2,Afghanistan,1094,"Meat indigenous, chicken",5510,1968,tonnes,8000.0,Calculated data
...,...,...,...,...,...,...,...,...,...
147152,181,Zimbabwe,867,"Meat, cattle",5510,2009,tonnes,109000.0,FAO estimate
766898,181,Zimbabwe,1058,"Meat, chicken",5510,2009,tonnes,61870.0,FAO data based on imputation methodology
147302,181,Zimbabwe,1035,"Meat, pig",5510,2009,tonnes,17300.0,FAO estimate
628320,181,Zimbabwe,944,"Meat indigenous, cattle",5510,2010,tonnes,99585.0,Calculated data
628426,181,Zimbabwe,1094,"Meat indigenous, chicken",5510,2010,tonnes,61825.0,Calculated data
628744,181,Zimbabwe,1055,"Meat indigenous, pig",5510,2010,tonnes,31346.0,Calculated data
766856,181,Zimbabwe,867,"Meat, cattle",5510,2010,tonnes,115634.0,FAO data based on imputation methodology
766899,181,Zimbabwe,1058,"Meat, chicken",5510,2010,tonnes,62100.0,FAO data based on imputation methodology
147303,181,Zimbabwe,1035,"Meat, pig",5510,2010,tonnes,19300.0,FAO estimate
628321,181,Zimbabwe,944,"Meat indigenous, cattle",5510,2011,tonnes,97778.0,Calculated data
628427,181,Zimbabwe,1094,"Meat indigenous, chicken",5510,2011,tonnes,64057.0,Calculated data
628745,181,Zimbabwe,1055,"Meat indigenous, pig",5510,2011,tonnes,31455.0,Calculated data
147153,181,Zimbabwe,867,"Meat, cattle",5510,2011,tonnes,121300.0,FAO estimate
766900,181,Zimbabwe,1058,"Meat, chicken",5510,2011,tonnes,63250.0,FAO data based on imputation methodology
147304,181,Zimbabwe,1035,"Meat, pig",5510,2011,tonnes,19500.0,FAO estimate
628322,181,Zimbabwe,944,"Meat indigenous, cattle",5510,2012,tonnes,101337.0,Calculated data
628428,181,Zimbabwe,1094,"Meat indigenous, chicken",5510,2012,tonnes,64357.0,Calculated data
628746,181,Zimbabwe,1055,"Meat indigenous, pig",5510,2012,tonnes,31894.0,Calculated data
147154,181,Zimbabwe,867,"Meat, cattle",5510,2012,tonnes,122000.0,FAO estimate
766901,181,Zimbabwe,1058,"Meat, chicken",5510,2012,tonnes,63825.0,FAO data based on imputation methodology
147305,181,Zimbabwe,1035,"Meat, pig",5510,2012,tonnes,19400.0,FAO estimate
628323,181,Zimbabwe,944,"Meat indigenous, cattle",5510,2013,tonnes,102256.0,Calculated data
628429,181,Zimbabwe,1094,"Meat indigenous, chicken",5510,2013,tonnes,64714.0,Calculated data
628747,181,Zimbabwe,1055,"Meat indigenous, pig",5510,2013,tonnes,31898.0,Calculated data
147155,181,Zimbabwe,867,"Meat, cattle",5510,2013,tonnes,123000.0,FAO estimate
766902,181,Zimbabwe,1058,"Meat, chicken",5510,2013,tonnes,63825.0,FAO data based on imputation methodology
147306,181,Zimbabwe,1035,"Meat, pig",5510,2013,tonnes,20400.0,FAO estimate
147156,181,Zimbabwe,867,"Meat, cattle",5510,2014,tonnes,124000.0,FAO estimate
766903,181,Zimbabwe,1058,"Meat, chicken",5510,2014,tonnes,64625.0,FAO data based on imputation methodology
147307,181,Zimbabwe,1035,"Meat, pig",5510,2014,tonnes,20800.0,FAO estimate

In [45]:
display(select_on(dfs_prod_animals["production"],
                  column_filter_dict={"Item" : ['Eggs, hen, in shell',
'Eggs, hen, in shell (number)',
'Eggs, other bird, in shell',
'Eggs, other bird, in shell (number)',
'Eggs Primary'], "Unit":["tonnes"],"Area":["China, mainland"]})
        .groupby(by=["Area","Year","Unit","Item"]).sum().head(100))

                                                        Area Code  Item Code  \
Area            Year Unit   Item
China, mainland 1961 tonnes Eggs Primary                       41       1783
                            Eggs, hen, in shell                41       1062
                            Eggs, other bird, in shell         41       1091
                1962 tonnes Eggs Primary                       41       1783
                            Eggs, hen, in shell                41       1062
                            Eggs, other bird, in shell         41       1091
                1963 tonnes Eggs Primary                       41       1783
                            Eggs, hen, in shell                41       1062
                            Eggs, other bird, in shell         41       1091
                1964 tonnes Eggs Primary                       41       1783
                            Eggs, hen, in shell                41       1062
                            Eggs, other bird, in shell         41       1091
                1965 tonnes Eggs Primary                       41       1783
                            Eggs, hen, in shell                41       1062
                            Eggs, other bird, in shell         41       1091
                1966 tonnes Eggs Primary                       41       1783
                            Eggs, hen, in shell                41       1062
                            Eggs, other bird, in shell         41       1091
                1967 tonnes Eggs Primary                       41       1783
                            Eggs, hen, in shell                41       1062
                            Eggs, other bird, in shell         41       1091
                1968 tonnes Eggs Primary                       41       1783
                            Eggs, hen, in shell                41       1062
                            Eggs, other bird, in shell         41       1091
                1969 tonnes Eggs Primary                       41       1783
                            Eggs, hen, in shell                41       1062
                            Eggs, other bird, in shell         41       1091
                1970 tonnes Eggs Primary                       41       1783
                            Eggs, hen, in shell                41       1062
                            Eggs, other bird, in shell         41       1091
...                                                           ...        ...
                1984 tonnes Eggs, hen, in shell                41       1062
                            Eggs, other bird, in shell         41       1091
                1985 tonnes Eggs Primary                       41       1783
                            Eggs, hen, in shell                41       1062
                            Eggs, other bird, in shell         41       1091
                1986 tonnes Eggs Primary                       41       1783
                            Eggs, hen, in shell                41       1062
                            Eggs, other bird, in shell         41       1091
                1987 tonnes Eggs Primary                       41       1783
                            Eggs, hen, in shell                41       1062
                            Eggs, other bird, in shell         41       1091
                1988 tonnes Eggs Primary                       41       1783
                            Eggs, hen, in shell                41       1062
                            Eggs, other bird, in shell         41       1091
                1989 tonnes Eggs Primary                       41       1783
                            Eggs, hen, in shell                41       1062
                            Eggs, other bird, in shell         41       1091
                1990 tonnes Eggs Primary                       41       1783
                            Eggs, hen, in shell                41       1062
                            Eggs, other bird, in shell         41       1091
                1991 tonnes Eggs Primary                       41       1783
                            Eggs, hen, in shell                41       1062
                            Eggs, other bird, in shell         41       1091
                1992 tonnes Eggs Primary                       41       1783
                            Eggs, hen, in shell                41       1062
                            Eggs, other bird, in shell         41       1091
                1993 tonnes Eggs Primary                       41       1783
                            Eggs, hen, in shell                41       1062
                            Eggs, other bird, in shell         41       1091
                1994 tonnes Eggs Primary                       41       1783

                                                        Element Code  \
Area            Year Unit   Item
China, mainland 1961 tonnes Eggs Primary                        5510
                            Eggs, hen, in shell                 5510
                            Eggs, other bird, in shell          5510
                1962 tonnes Eggs Primary                        5510
                            Eggs, hen, in shell                 5510
                            Eggs, other bird, in shell          5510
                1963 tonnes Eggs Primary                        5510
                            Eggs, hen, in shell                 5510
                            Eggs, other bird, in shell          5510
                1964 tonnes Eggs Primary                        5510
                            Eggs, hen, in shell                 5510
                            Eggs, other bird, in shell          5510
                1965 tonnes Eggs Primary                        5510
                            Eggs, hen, in shell                 5510
                            Eggs, other bird, in shell          5510
                1966 tonnes Eggs Primary                        5510
                            Eggs, hen, in shell                 5510
                            Eggs, other bird, in shell          5510
                1967 tonnes Eggs Primary                        5510
                            Eggs, hen, in shell                 5510
                            Eggs, other bird, in shell          5510
                1968 tonnes Eggs Primary                        5510
                            Eggs, hen, in shell                 5510
                            Eggs, other bird, in shell          5510
                1969 tonnes Eggs Primary                        5510
                            Eggs, hen, in shell                 5510
                            Eggs, other bird, in shell          5510
                1970 tonnes Eggs Primary                        5510
                            Eggs, hen, in shell                 5510
                            Eggs, other bird, in shell          5510
...                                                              ...
                1984 tonnes Eggs, hen, in shell                 5510
                            Eggs, other bird, in shell          5510
                1985 tonnes Eggs Primary                        5510
                            Eggs, hen, in shell                 5510
                            Eggs, other bird, in shell          5510
                1986 tonnes Eggs Primary                        5510
                            Eggs, hen, in shell                 5510
                            Eggs, other bird, in shell          5510
                1987 tonnes Eggs Primary                        5510
                            Eggs, hen, in shell                 5510
                            Eggs, other bird, in shell          5510
                1988 tonnes Eggs Primary                        5510
                            Eggs, hen, in shell                 5510
                            Eggs, other bird, in shell          5510
                1989 tonnes Eggs Primary                        5510
                            Eggs, hen, in shell                 5510
                            Eggs, other bird, in shell          5510
                1990 tonnes Eggs Primary                        5510
                            Eggs, hen, in shell                 5510
                            Eggs, other bird, in shell          5510
                1991 tonnes Eggs Primary                        5510
                            Eggs, hen, in shell                 5510
                            Eggs, other bird, in shell          5510
                1992 tonnes Eggs Primary                        5510
                            Eggs, hen, in shell                 5510
                            Eggs, other bird, in shell          5510
                1993 tonnes Eggs Primary                        5510
                            Eggs, hen, in shell                 5510
                            Eggs, other bird, in shell          5510
                1994 tonnes Eggs Primary                        5510

                                                             Value
Area            Year Unit   Item
China, mainland 1961 tonnes Eggs Primary                 1500000.0
                            Eggs, hen, in shell          1200000.0
                            Eggs, other bird, in shell    300000.0
                1962 tonnes Eggs Primary                 1520000.0
                            Eggs, hen, in shell          1216000.0
                            Eggs, other bird, in shell    304000.0
                1963 tonnes Eggs Primary                 1540000.0
                            Eggs, hen, in shell          1232000.0
                            Eggs, other bird, in shell    308000.0
                1964 tonnes Eggs Primary                 1580000.0
                            Eggs, hen, in shell          1264000.0
                            Eggs, other bird, in shell    316000.0
                1965 tonnes Eggs Primary                 1620000.0
                            Eggs, hen, in shell          1300000.0
                            Eggs, other bird, in shell    320000.0
                1966 tonnes Eggs Primary                 1670000.0
                            Eggs, hen, in shell          1340000.0
                            Eggs, other bird, in shell    330000.0
                1967 tonnes Eggs Primary                 1720000.0
                            Eggs, hen, in shell          1375000.0
                            Eggs, other bird, in shell    345000.0
                1968 tonnes Eggs Primary                 1760000.0
                            Eggs, hen, in shell          1410000.0
                            Eggs, other bird, in shell    350000.0
                1969 tonnes Eggs Primary                 1820000.0
                            Eggs, hen, in shell          1460000.0
                            Eggs, other bird, in shell    360000.0
                1970 tonnes Eggs Primary                 1870000.0
                            Eggs, hen, in shell          1500000.0
                            Eggs, other bird, in shell    370000.0
...                                                            ...
                1984 tonnes Eggs, hen, in shell          3453000.0
                            Eggs, other bird, in shell    863000.0
                1985 tonnes Eggs Primary                 5347000.0
                            Eggs, hen, in shell          4278000.0
                            Eggs, other bird, in shell   1069000.0
                1986 tonnes Eggs Primary                 5550000.0
                            Eggs, hen, in shell          4440000.0
                            Eggs, other bird, in shell   1110000.0
                1987 tonnes Eggs Primary                 5902000.0
                            Eggs, hen, in shell          4722000.0
                            Eggs, other bird, in shell   1180000.0
                1988 tonnes Eggs Primary                 6955000.0
                            Eggs, hen, in shell          5564000.0
                            Eggs, other bird, in shell   1391000.0
                1989 tonnes Eggs Primary                 7198000.0
                            Eggs, hen, in shell          5758000.0
                            Eggs, other bird, in shell   1440000.0
                1990 tonnes Eggs Primary                 7946000.0
                            Eggs, hen, in shell          6357000.0
                            Eggs, other bird, in shell   1589000.0
                1991 tonnes Eggs Primary                 9240000.0
                            Eggs, hen, in shell          7392000.0
                            Eggs, other bird, in shell   1848000.0
                1992 tonnes Eggs Primary                10199000.0
                            Eggs, hen, in shell          8159000.0
                            Eggs, other bird, in shell   2040000.0
                1993 tonnes Eggs Primary                11798000.0
                            Eggs, hen, in shell          9438000.0
                            Eggs, other bird, in shell   2360000.0
                1994 tonnes Eggs Primary                14790000.0

[100 rows x 4 columns]

In [143]:
print(dfs_prod_animals["producing_animals/slaughtered"]["Item"].unique())
dfs_prod_animals["producing_animals/slaughtered"].head()

['Hides, cattle, fresh' 'Meat, camel' 'Meat, cattle' 'Meat, chicken'
 'Meat, goat' 'Meat, sheep' 'Skins, goat, fresh' 'Skins, sheep, fresh'
 'Meat, pig' 'Meat, horse' 'Meat, rabbit' 'Meat, turkey' 'Meat, duck'
 'Meat, goose and guinea fowl' 'Skins, sheep, with wool'
 'Hides, buffalo, fresh' 'Meat, buffalo' 'Meat, other camelids'
 'Meat, other rodents' 'Meat, ass' 'Meat, mule' 'Meat, bird nes'
 'Meat, game' 'Meat, nes' 'Beef and Buffalo Meat' 'Meat, Poultry'
 'Sheep and Goat Meat']

,Area Code,Area,Item Code,Item,Element Code,Year,Unit,Value,Flag
145,2,Afghanistan,919,"Hides, cattle, fresh",5320,1961,Head,360000.0,FAO estimate
146,2,Afghanistan,919,"Hides, cattle, fresh",5320,1962,Head,384000.0,FAO estimate
147,2,Afghanistan,919,"Hides, cattle, fresh",5320,1963,Head,396000.0,FAO estimate
148,2,Afghanistan,919,"Hides, cattle, fresh",5320,1964,Head,402000.0,FAO estimate
149,2,Afghanistan,919,"Hides, cattle, fresh",5320,1965,Head,408000.0,FAO estimate

                                  Area Code  Item Code  Element Code  \
Unit Item
Head Beef and Buffalo Meat          1324237   18961194      55854680
     Hides, buffalo, fresh           198485    1521630       8458800
     Hides, cattle, fresh           1291748    9431697      54599160
     Meat, Poultry                  1335816   19034624      56019488
     Meat, ass                        79758     538488       2585520
     Meat, bird nes                   75613     628353       3070217
     Meat, buffalo                   226561    1660091       9325960
     Meat, camel                     280945    2146935      10134600
     Meat, cattle                   1324588    9103500      55860000
     Meat, chicken                  1336167   11139682      56024809
     Meat, duck                      526714    4526146      22529114
     Meat, game                         477      61639        281960
     Meat, goat                     1181181    9503865      49715400
     Meat, goose and guinea fowl     279852    2368111      11743447
     Meat, horse                     507127    4307919      20891640
     Meat, mule                       32130     179982        861840
     Meat, nes                         3604      61798        281960
     Meat, other camelids             10206     125064        574560
     Meat, other rodents              10206     124308        574668
     Meat, pig                      1211199    9947385      51130520
     Meat, rabbit                    353989    3336284      15558604
     Meat, sheep                    1203382    9414372      51263520
     Meat, turkey                    422999    3748680      18469191
     Sheep and Goat Meat            1306962   18626556      54838560
     Skins, goat, fresh             1131676    9228075      47895960
     Skins, sheep, fresh            1168271    9315190      49805840
     Skins, sheep, with wool         281034    2250747      11985960

                                      Year         Value
Unit Item
Head Beef and Buffalo Meat        20874815  1.512987e+10
     Hides, buffalo, fresh         3159330  1.247652e+09
     Hides, cattle, fresh         20399793  1.450160e+10
     Meat, Poultry                20932090  1.869302e+12
     Meat, ass                      965925  1.222840e+08
     Meat, bird nes                1147331  2.269256e+09
     Meat, buffalo                 3484450  9.475568e+08
     Meat, camel                   3788060  7.679914e+07
     Meat, cattle                 20876805  1.419162e+10
     Meat, chicken                20934080  1.715423e+12
     Meat, duck                    8417906  1.039037e+11
     Meat, game                     105311  0.000000e+00
     Meat, goat                   18580005  1.551745e+10
     Meat, goose and guinea fowl   4387872  2.651584e+10
     Meat, horse                   7810560  2.396207e+08
     Meat, mule                     321975  3.379057e+07
     Meat, nes                      105311  0.000000e+00
     Meat, other camelids           214650  2.985115e+07
     Meat, other rodents            214650  4.174862e+09
     Meat, pig                    19109489  6.569652e+10
     Meat, rabbit                  5816545  4.088878e+10
     Meat, sheep                  19159605  2.642682e+10
     Meat, turkey                  6901150  2.390748e+10
     Sheep and Goat Meat          20495565  4.185548e+10
     Skins, goat, fresh           17893017  1.612604e+10
     Skins, sheep, fresh          18609506  2.633272e+10
     Skins, sheep, with wool       4481707  3.090197e+07

In [148]:
print(dfs_prod_animals["milk_animals"]["Item"].unique())
dfs_prod_animals["milk_animals"].head()

['Milk, whole fresh camel' 'Milk, whole fresh cow'
 'Milk, whole fresh goat' 'Milk, whole fresh sheep'
 'Milk, whole fresh buffalo' 'Milk,Total']

,Area Code,Area,Item Code,Item,Element Code,Year,Unit,Value,Flag
703,2,Afghanistan,1130,"Milk, whole fresh camel",5318,1961,Head,25000.0,FAO estimate
704,2,Afghanistan,1130,"Milk, whole fresh camel",5318,1962,Head,28000.0,FAO estimate
705,2,Afghanistan,1130,"Milk, whole fresh camel",5318,1963,Head,35000.0,FAO estimate
706,2,Afghanistan,1130,"Milk, whole fresh camel",5318,1964,Head,33000.0,FAO estimate
707,2,Afghanistan,1130,"Milk, whole fresh camel",5318,1965,Head,30000.0,FAO estimate

In [149]:
print(dfs_prod_animals["prod_popultn"]["Item"].unique())
dfs_prod_animals["prod_popultn"].head()

['Wool, greasy' 'Honey, natural' 'Beeswax' 'Silk-worm cocoons, reelable'
 'Hair, horse']

,Area Code,Area,Item Code,Item,Element Code,Year,Unit,Value,Flag
1097,2,Afghanistan,987,"Wool, greasy",5319,1961,Head,18000000.0,FAO estimate
1098,2,Afghanistan,987,"Wool, greasy",5319,1962,Head,18150000.0,FAO estimate
1099,2,Afghanistan,987,"Wool, greasy",5319,1963,Head,18500000.0,FAO estimate
1100,2,Afghanistan,987,"Wool, greasy",5319,1964,Head,19000000.0,FAO estimate
1101,2,Afghanistan,987,"Wool, greasy",5319,1965,Head,19600000.0,FAO estimate

In [150]:
print(dfs_prod_animals["milk_animals"]["Item"].unique())
dfs_prod_animals["milk_animals"].head()

['Milk, whole fresh camel' 'Milk, whole fresh cow'
 'Milk, whole fresh goat' 'Milk, whole fresh sheep'
 'Milk, whole fresh buffalo' 'Milk,Total']

,Area Code,Area,Item Code,Item,Element Code,Year,Unit,Value,Flag
703,2,Afghanistan,1130,"Milk, whole fresh camel",5318,1961,Head,25000.0,FAO estimate
704,2,Afghanistan,1130,"Milk, whole fresh camel",5318,1962,Head,28000.0,FAO estimate
705,2,Afghanistan,1130,"Milk, whole fresh camel",5318,1963,Head,35000.0,FAO estimate
706,2,Afghanistan,1130,"Milk, whole fresh camel",5318,1964,Head,33000.0,FAO estimate
707,2,Afghanistan,1130,"Milk, whole fresh camel",5318,1965,Head,30000.0,FAO estimate

In [147]:
print(dfs_prod_animals["yield"]["Item"].unique())
dfs_prod_animals["yield"].head()

['Eggs, hen, in shell' 'Hides, cattle, fresh' 'Milk, whole fresh camel'
 'Milk, whole fresh cow' 'Milk, whole fresh goat'
 'Milk, whole fresh sheep' 'Skins, goat, fresh' 'Skins, sheep, fresh'
 'Wool, greasy' 'Eggs Primary' 'Milk,Total' 'Milk, whole fresh buffalo'
 'Skins, sheep, with wool' 'Eggs, other bird, in shell'
 'Hides, buffalo, fresh' 'Honey, natural' 'Beeswax']

,Area Code,Area,Item Code,Item,Element Code,Year,Unit,Value,Flag
258118,2,Afghanistan,1062,"Eggs, hen, in shell",5410,1961,g/An,2500.0,Calculated data
258119,2,Afghanistan,1062,"Eggs, hen, in shell",5410,1962,g/An,2500.0,Calculated data
258120,2,Afghanistan,1062,"Eggs, hen, in shell",5410,1963,g/An,2500.0,Calculated data
258121,2,Afghanistan,1062,"Eggs, hen, in shell",5410,1964,g/An,2500.0,Calculated data
258122,2,Afghanistan,1062,"Eggs, hen, in shell",5410,1965,g/An,2461.5,Calculated data

In [135]:
print(dfs_prod_animals["yield/carcass_weight"]["Item"].unique())
dfs_prod_animals["yield/carcass_weight"].head()

['Meat indigenous, camel' 'Meat indigenous, cattle'
 'Meat indigenous, chicken' 'Meat indigenous, goat'
 'Meat indigenous, sheep' 'Meat, camel' 'Meat, cattle' 'Meat, chicken'
 'Meat, goat' 'Meat, sheep' 'Beef and Buffalo Meat' 'Meat, Poultry'
 'Sheep and Goat Meat' 'Meat indigenous, pig' 'Meat, pig'
 'Meat indigenous, horse' 'Meat indigenous, rabbit'
 'Meat indigenous, turkey' 'Meat, horse' 'Meat, rabbit' 'Meat, turkey'
 'Meat indigenous, duck' 'Meat indigenous, geese' 'Meat, duck'
 'Meat, goose and guinea fowl' 'Meat indigenous, buffalo' 'Meat, buffalo'
 'Meat indigenous, other camelids' 'Meat indigenous, rodents'
 'Meat, other camelids' 'Meat, other rodents' 'Meat indigenous, ass'
 'Meat, ass' 'Meat indigenous, mule' 'Meat, bird nes' 'Meat, mule'
 'Meat indigenous, bird nes']

,Area Code,Area,Item Code,Item,Element Code,Year,Unit,Value,Flag
258278,2,Afghanistan,1137,"Meat indigenous, camel",5417,1961,kg/An,180.0,Calculated data
258279,2,Afghanistan,1137,"Meat indigenous, camel",5417,1962,kg/An,180.0,Calculated data
258280,2,Afghanistan,1137,"Meat indigenous, camel",5417,1963,kg/An,180.0,Calculated data
258281,2,Afghanistan,1137,"Meat indigenous, camel",5417,1964,kg/An,180.0,Calculated data
258282,2,Afghanistan,1137,"Meat indigenous, camel",5417,1965,kg/An,180.0,Calculated data

In [ ]:
# Harmonise units
## 1000 Head -> Head
unit_filter = trade_matrix_live_animals["Unit Importer Report"] == "1000 Head"
trade_matrix_live_animals.loc[unit_filter, "Quantity Importer Report"] = trade_matrix_live_animals[unit_filter]["Quantity Importer Report"].multiply(1000)
trade_matrix_live_animals.loc[unit_filter, "Unit Importer Report"] = "Head"

unit_filter = trade_matrix_live_animals["Unit Exporter Report"] == "1000 Head"
trade_matrix_live_animals.loc[unit_filter, "Quantity Exporter Report"] = trade_matrix_live_animals[unit_filter]["Quantity Exporter Report"].multiply(1000)
trade_matrix_live_animals.loc[unit_filter, "Unit Exporter Report"] = "Head"

## TODO 
## tonnes -> Head ???