In [10]:
import numpy as np
import pandas as pd
from dotmap import DotMap
from pathlib import Path

# Config

In [15]:
DATA = Path("./data")

# Load Standards

In [14]:
df_flags = pd.read_csv(
    DATA / "definitions_and_standards/flags.csv",
    keep_default_na=False,
    index_col="Flag"
)

# Load datas

## Helper Functions

In [16]:
# Helper function

def join_flags(df, filepath, df_flags):
    df["Flag"] = pd.read_csv(filepath, encoding="latin1", usecols=["Flag"], keep_default_na=False)
    return df.merge(df_flags, on="Flag").drop(columns="Flag").rename(columns={"Flags": "Flag"})

def split_on(df, column, rename={}, only_named=False):
    result = DotMap(_dynamic=False)
    for value in df[column].unique():
        name = rename.get(value)
        if name is None and only_named:
            continue
        else:
            name = value
        result[name] = df[ df[column] == value]
    return result

## Animal emissions data

## Computed emissions data

In [19]:
df_env_emission_intensity = pd.read_csv(
    DATA / "global-food-agriculture-statistics/raw_files/Environment_Emissions_intensities_E_All_Data_(Normalized).csv",
    encoding="latin1",
).drop("Year Code", axis="columns")

df_env_emission_intensity.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Year,Unit,Value,Flag
0,2,Afghanistan,1718,Cereals excluding rice,71761,Emissions intensity,1961,kg CO2eq/kg product,0.1191,Fc
1,2,Afghanistan,1718,Cereals excluding rice,71761,Emissions intensity,1962,kg CO2eq/kg product,0.1209,Fc
2,2,Afghanistan,1718,Cereals excluding rice,71761,Emissions intensity,1963,kg CO2eq/kg product,0.1261,Fc
3,2,Afghanistan,1718,Cereals excluding rice,71761,Emissions intensity,1964,kg CO2eq/kg product,0.1214,Fc
4,2,Afghanistan,1718,Cereals excluding rice,71761,Emissions intensity,1965,kg CO2eq/kg product,0.1204,Fc

## Trade data